@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "font-awesome/font-awesome";
@import "awesome-bootstrap-checkbox";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,300,200|Playfair+Display:400,700,900&subset=latin,latin-ext);
$dark-text-color: #003f74;
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
    display: none;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@mixin breakpoint($class) {
    @if $class==xs {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $class==sm {
        @media (max-width: 768px) {
            @content;
        }
    }
    @else if $class==md {
        @media (max-width: 992px) {
            @content;
        }
    }
    @else if $class==lg {
        @media (max-width: 1200px) {
            @content;
        }
    }
    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

@mixin placeholder($color: $input-color-placeholder) {
    &::-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
    }
}

html,
body {
    height: 100%;
    padding-right: 0!important;
}

body {
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: $dark-text-color;
    font-weight: 300;
}

.modal-open {
    overflow: visible;
}

* {
    // -webkit-font-smoothing: antialiased;
}

a {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.navbar {
    background-color: #ffffff;
    text-align: center;
    .site-name {
        font-family: 'Playfair Display', serif;
        float: left;
        color: #003f74;
        font-weight: 900;
        font-size: 23px;
        padding: 10px 0;
    }
    .main-navigation {
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        li {
            display: inline-block;
            list-style: none;
            padding: 0;
            margin: 0;
            a {
                padding: 15px 15px;
                display: block;
                text-transform: uppercase;
                color: $dark-text-color;
                font-weight: 600;
            }
        }
    }
}

.container {
    position: relative;
    z-index: 2;
}

.gallery {
    .gallery-wrap {
        @include make-xs-column(12);
                @include make-sm-column(12);
                @include make-md-column(12);
                @include make-lg-column(12);
        padding-bottom: 120px;
        float: left;
    }
    .gallery-title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 48px;
        margin-bottom: 20px;
    }
    .gallery-lead {
        font-size: 20px;
        line-height: 24px;
    }
    .tab-nav {
        padding: 20px 0 60px 0;
        margin: 0;
        li {
            list-style: none;
            display: inline-block;
            text-align: left;
            margin: 0 15px;
            &.active {
                .btn {
                    background-color: #ffffff;
                    color: $dark-text-color;
                }
            }
        }
    }
    .load-more {
        margin-top: 30px;
        font-size: 16px;
        padding: 10px 20px;
    }
    .text-pane {
        .text-item {
            text-align: left;
            .item-data {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(4);
                @include make-lg-column(4);
                .fix-position {
                    position: relative;
                    text-align: right;
                    padding-top: 20px;
                    .name {
                        font-size: 21px;
                        font-family: 'Playfair Display', serif;
                    }
                    .date {
                        font-size: 18px;
                        font-weight: 900;
                    }
                }
            }
            .text-content {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(8);
                @include make-lg-column(8);
                position: relative;
                cursor: pointer;
                margin-bottom: 30px;
                .angle {
                    position: absolute;
                    top: 50%;
                    right: 40px;
                    font-size: 31px;
                    margin-top: -25px;
                    color: #ffffff;
                }
                &.active {
                    .wrap {
                        background-color: #ffffff;
                        p {
                            color: #003f74;
                            margin: 0;
                            padding: 0;
                            // display: inline;
                        }
                    }
                    .angle {
                        color: #003f74;
                        @include transform(rotate(180deg));
                    }
                }
                .wrap {
                    background-color: rgba(20, 44, 65, 0.7);
                    padding: 20px 80px 20px 20px;
                    @include transition(all 0.2s ease-in-out);
                    p {
                        margin: 0;
                        padding: 0;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    .video-pane {
        .video-item {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(4);
            @include make-lg-column(4);
            position: relative;
            padding: 0;
            background-color: rgba(2, 26, 44, 0.8);
            img {
                width: 100%;
                height: auto;
            }
            &:hover {
                .content {
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }
            .item-data {
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.8);
                width: 100%;
                height: 100%;
                padding: 15px;
                text-align: left;
                cursor: pointer;
                @include transition(all 0.2s ease-in-out);
                .play {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 2px solid #ffffff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -25px;
                    margin-left: -25px;
                    font-size: 23px;
                    padding: 7px 16px;
                }
                .name {
                    position: absolute;
                    bottom: 15px;
                    font-size: 21px;
                    font-family: 'Playfair Display', serif;
                }
                .date {
                    position: absolute;
                    bottom: 40px;
                    font-size: 18px;
                    font-weight: 900;
                }
            }
        }
    }
}

.home,
.gallery {
    background-image: url('../img/main-bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 100px;
    text-align: center;
    color: #ffffff;
    position: relative;
    min-height: 100%;
    overflow: hidden;
    .woman {
        background-image: url('../img/woman.png');
        width: 400px;
        height: 673px;
        bottom: -150px;
        left: 0;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        z-index: 2;
        @include breakpoint(md) {
            display: none;
        }
    }
    .kid {
        background-image: url('../img/kid.png');
        width: 396px;
        height: 610px;
        bottom: -150px;
        right: 0;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        z-index: 2;
        @include breakpoint(md) {
            display: none;
        }
    }
    .home-icon {
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        z-index: 1;
    }
    .icon01 {
        background-image: url('../img/icon01.svg');
        width: 80px;
        height: 60px;
        top: 100px;
        left: 10%;
        transform: rotate(-25deg);
    }
    .icon02 {
        background-image: url('../img/icon02.svg');
        width: 145px;
        height: 121px;
        top: 25%;
        left: 15%;
    }
    .big-title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 88px;
        background-color: #ffffff;
        display: inline-block;
        color: $dark-text-color;
        padding: 15px;
        margin: 15px 0;
        position: relative;
        z-index: 3;
    }
    .small-title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 32px;
        color: #ffffff;
        margin: 15px 0;
        position: relative;
        z-index: 3;
    }
    .lead {
        font-weight: 200;
        font-size: 20px;
        display: inline-block;
        @include make-lg-column(5);
        @include make-lg-column-offset(3.5);
        padding: 15px 0 15px 0;
        margin: 0;
        position: relative;
        z-index: 3;
        strong {
            font-weight: 700;
        }
    }
    .select-form {
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
        z-index: 3;
        .select {
            @include make-xs-column(10);
            @include make-sm-column(4);
            @include make-md-column(3);
            @include make-lg-column(3);
            margin-bottom: 30px;
            &.select-friends {
                @include make-xs-column-offset(1);
                @include make-sm-column-offset(2);
                @include make-md-column-offset(3);
                @include make-lg-column-offset(3);
                .content {
                    text-align: right;
                }
            }
            &.select-kids {
                @include make-xs-column-offset(1);
                @include make-sm-column-offset(0);
                @include make-md-column-offset(0);
                @include make-lg-column-offset(0);
                .content {
                    text-align: left;
                }
            }
            .content {
                border: 1px solid #ffffff;
                background-color: rgba(2, 26, 44, 0.8);
                padding: 25px 25px;
                min-height: 205px;
                cursor: pointer;
                @include transition(all 0.2s ease-in-out);
                &:hover {
                    background-color: rgba(255, 255, 255, 1.0);
                    color: $dark-text-color;
                }
                h3 {
                    padding: 0;
                    margin: 0 0 15px 0;
                    font-size: 24px;
                    font-weight: 900;
                }
                p {
                    font-size: 17px;
                    i {
                        margin-left: 5px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.form-group {
    &.space {
        padding-bottom: 15px;
    }
}

.form-control {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
    font-size: 16px;
    height: auto;
    &:active,
    &:focus,
    &:hover {
        outline: none;
        box-shadow: none;
        border-color: #ffffff;
    }
    @include placeholder(#ffffff);
}

.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
    outline: none!important;
    box-shadow: none!important;
}

.checkbox {
    padding-left: 25px;
    label {
        padding: 0px!important;
        font-size: 16px!important;
        margin-top: -4px;
        &:after {
            color: #ffffff;
            top: 2px;
            margin-left: -25px;
        }
        &:before {
            border-radius: 0;
            background-color: transparent;
            top: 2px;
            margin-left: -25px;
        }
    }
}

.show-more {
    padding: 0;
    display: inline;
    margin-left: -3px;
    span {
        display: inline;
        &.show-legal {
            margin-right: 5px;
            cursor: pointer;
            display: inline;
            &.active {
                display: none;
            }
        }
        &.legal {
            display: none;
            margin-left: 2px;
            &.active {
                display: inline;
            }
        }
    }
}

.btn {
    padding: 15px 30px;
    height: auto;
    display: inline-block;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 20px;
    background-color: transparent;
    &:active,
    &:focus,
    &:hover {
        color: #ffffff;
        outline: none!important;
        box-shadow: none!important;
        border-color: #ffffff!important;
    }
}

.form-friend {
    .icon01 {
        left: 0;
    }
    .icon02 {
        display: none;
    }
    .woman {
        bottom: 0;
    }
    .form-wrap {
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(8);
        @include make-lg-column(6);
        @include make-xs-column-offset(0);
        @include make-sm-column-offset(0);
        @include make-md-column-offset(4);
        @include make-lg-column-offset(3);
    }
}

.form-kid {
    .icon01 {
        left: 0;
    }
    .icon02 {
        display: none;
    }
    .kid {
        bottom: 0;
    }
}

.form-kid,
.form-friend {
    text-align: left;
    .form-wrap {
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(8);
        @include make-lg-column(6);
    }
    .form-title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 48px;
        margin-bottom: 20px;
    }
    .form-lead {
        font-size: 20px;
        line-height: 24px;
    }
    .form-competition {
        padding: 30px 0 60px 0;
        label {
            padding: 15px 0;
            font-size: 18px;
            font-weight: 300;
        }
        .tab-nav {
            padding: 0px 0 40px 0;
            margin: 0;
            @include make-row(30px);
            li {
                list-style: none;
                display: inline-block;
                @include make-xs-column(6);
                @include make-sm-column(3);
                @include make-md-column(3);
                @include make-lg-column(3);
                text-align: left;
                &.active {
                    .btn {
                        background-color: #ffffff;
                        color: $dark-text-color;
                    }
                }
            }
        }
        .char-counter {
            color: #6b8aa3;
            text-align: right;
            font-size: 18px;
            padding: 0px 0 0 0;
        }
        .small {
            @include make-xs-column(12);
            @include make-sm-column(8);
            @include make-md-column(8);
            @include make-lg-column(8);
            .form-control {
                background-color: #ffffff;
                color: $dark-text-color;
                padding: 10px 15px;
                @include placeholder($dark-text-color);
            }
        }
        .send {
            margin: auto;
            display: block;
        }
    }
}

.awards {
    background-color: #ffffff;
    padding: 30px 30px 60px 30px;
    text-align: center;
    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 32px;
        color: $dark-text-color;
        margin: 15px 0 30px 0;
    }
    .award {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(6);
        text-align: left;
        p {
            font-size: 20px;
            line-height: 1.2;
            padding-top: 30px;
            display: block;
            float: left;
        }
        img {
            float: left;
            margin-right: 30px;
        }
    }
}

footer {
    background-color: #003f74;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    position: relative;
    .footer-logo {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: auto;
        padding: 10px 15px;
    }
    a {
        color: #ffffff;
        &:hover {
            color: #ffffff;
        }
    }
}

#cookies {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    padding: 1rem;
    background-color: #003f74;
    z-index: 99999;
    color: #ffffff;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    #cookieAgree {
        border: 1px solid #ffffff;
        background-color: #ffffff;
        color: $dark-text-color;
        padding: 0.5rem;
    }
}

.modal.in .modal-dialog {
    z-index: 9999;
}

.modal-backdrop {
    background-color: rgba(2, 26, 44, 1.0);
    &.in {
        opacity: 0.9;
    }
}

.modal-content {
    border-radius: 0;
    border: 1px solid #ffffff;
    background-color: rgba(2, 26, 44, 0.8);
    color: #ffffff;
    box-shadow: none;
    overflow: hidden;
    position: relative;
    .modal-footer {
        border-top: 1px solid #ffffff;
        .item-data {
            display: inline-block;
            float: left;
            text-align: left;
            .name {
                position: absolute;
                bottom: 15px;
                font-size: 21px;
                font-family: 'Playfair Display', serif;
            }
            .date {
                position: absolute;
                bottom: 40px;
                font-size: 18px;
                font-weight: 900;
            }
        }
        .btn {
            font-size: 16px;
            padding: 10px 20px;
            background-color: transparent;
            color: #ffffff;
            &:hover {
                background-color: transparent;
                color: #ffffff;
            }
        }
    }
    .modal-body {
        padding: 0;
        &.video-player {
            height: 336px;
        }
    }
    .modal-header {
        border-bottom: none;
        padding: 0;
        min-height: 0;
        position: relative;
        z-index: 2;
        .close {
            background-color: #ffffff;
            color: rgba(2, 26, 44, 1.0);
            position: absolute;
            top: 0;
            right: 0;
            opacity: 1;
            padding: 5px;
            font-size: 18px;
        }
    }
}
