<div class="tabbable"> 
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab1"><i class="glyphicon glyphicon-list"></i> Lista</a></li>
    </ul>          
    <div class="tab-content">
        <div id="tab1" class="tab-pane active">
            <div class="container">
                <table class="table ">
                    <thead>
                        <tr>
                            <td>Id.</td>
                            <td>Nazwa</td>
                            <td>Akcja</td>
                        </tr>
                    </thead>
                    <tbody>
                        <?php if ($this->list): ?>
                            <?php foreach($this->list as $row): ?>
                                
                                <tr>
                                    <td><?php echo $row->getId(); ?></td>
                                    <td><?php echo $row->getName(); ?></td>
                                    <td>
                                        <a title="Edytuj" class="btn btn-default" href="<?php echo $this->url($this->mainRouteName.'/edit', array('action' => 'edit', 'id' => $row->getId())); ?>"><i class="glyphicon glyphicon-edit"></i></a>
                                        <a title="Usuń" class="btn btn-danger jDeleteRole" href="<?php echo $this->url($this->mainRouteName, array('action' => 'delete','id' => $row->getId())); ?>"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <tr>
                                <td>Brak danych</td>
                            </tr>
                        <?php endif; ?>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>