<?php $element = $this->element; 
$class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
?>
<div class="form-group">
    <label><?php echo $this->label; ?></label>
    <input type="datetime" class="datepicker_<?php echo $element->getName(); ?> form-control <?php echo $class; ?>" value="<?php echo $element->getValue(); ?>"  name="<?php echo $element->getName(); ?>"  placeholder="<?php echo $this->label; ?>">
</div>

<script>    
$(function() {
    $(".datepicker_<?php echo $element->getName(); ?>").datepicker({
        dateFormat: "yy-mm-dd",
        });
});
</script>