<?php
$form->prepare();
$form->setAttribute('data-ajax','false');
?>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="row">
                <?php if ($imageUploaded): ?>
                    <div class="alert alert-success"><?php echo $this->translate("Zdjęcie wgrane prawidłowo") ?></div>
                <?php endif; ?>
                <?php echo $this->formElementErrors($form->get('image')); ?>
                <?php echo $this->form()->openTag($form); ?>
                <div class="col-xs-12">
                    <p>
                        <?php echo $this->htProfileImage($this->zfcUserIdentity(), array('class' => 'img-circle img-avatar-big'),array('display_filter'=>'small_display')); ?>
                    </p>
                </div>
                <div class="col-xs-12">
                    <p class="text-center">
                        <a class="btn btn-quiz" href="<?php echo $this->url('zfcuser/htimagedelete',array());?>">Usuń bieżące zdjęcie</a>
                    </p>
                </div>
                <div class="col-xs-12">
                    <p class="text-center">
                        <input type="file" name="image" class="btn btn-quiz"  value="Wybierz z biblioteki">
                    </p>
                </div>
                <div class="col-xs-12">
                    <p class="text-center">
                        <button  type="submit" class="btn btn-quiz orange">upload</button>
                        <a class="btn btn-cancel" href="<?php echo $this->url('profile/settings',array());?>">Anuluj</a>
                    </p>
                </div>
                <?php echo $this->form()->closeTag($form); ?>
            </div>
        </div>
    </div>
</div>
