
<?php
$form = $this->loginForm;
$form->prepare();
$form->setAttribute('id', 'loginForm');
$form->setAttribute('action', $this->url('zfcuser/login'));
$form->setAttribute('method', 'post');
$form->setAttribute('class', 'form-signin');
$form->setAttribute('role', 'form');
?>

<?php echo $this->form()->openTag($form) ?>
    <h1 style="color: #FF7575; font-family:MisoRegular;" class="form-signin-heading">CMS <img src="/images/cmslogo.png"/></h1>
    <?php echo $this->formElementErrors($form->get('identity')) ?>
    <?php 
    $errors =$this->formElementErrors($form->get('identity'));
            if(!empty($errors)): ?>
                            <div class="alert-wrapper">
                                    <div class="alert alert-danger">
                                        Niepoprawny login lub hasło
                                    </div>
                            </div>
            <?php endif; ?>
    <?php 
        $element = $form->get('identity');
        $element->setAttribute('class','required');
        $element->setOptions(array(
            'label' => 'Login',
            'partial' => "formpartial/login/text",
            'class'=>"required"
        ));
        $this->formRow()->setPartial($element->getOption('partial'));
        echo $this->formRow($element). PHP_EOL;
        $element = $form->get('credential');
        $element->setOptions(array(
            'label' => 'Hasło',
            'partial' => "formpartial/login/password",
        ));
        $element->setAttribute('class','required');
        $this->formRow()->setPartial($element->getOption('partial'));
        echo $this->formRow($element). PHP_EOL;
    ?>
    
    <?php if ($this->redirect): ?>
        <input type="hidden" name="redirect" value="<?php echo $this->escapeHtml($this->redirect) ?>" />
    <?php endif ?>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
  </form>
  
  <script>
       $(document).ready(function(){
           
           
           $("#loginForm").validate({
               ignore: "",
               errorElement: "label",
           });
       });
</script>
