body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

.messageAlert {
    top: 25%;
    font-size: 1.2em;
    margin-bottom: 0;
    padding: 1em 1.3em;
    position: fixed;
    right: 0;
    z-index: 2000;
}
body {padding-bottom: 20px;}
.submenu.nav-pills > li > a {
    border-radius: 5px 5px 5px 5px;
}
.submenu.nav > li > a {
    display: block;
    padding: 3px 6px;
    position: relative;
    color:#999999;
}


/*dodane*/
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
/* Enable use of floated navbar text */
.navbar-text.pull-right {
  float: none;
  padding-left: 5px;
  padding-right: 5px;
}
}


label.error {background: none repeat scroll 0 0 red;
    border-radius: 6px 6px 6px 6px;
    color: white;
    margin: 0 0 0 10px;
    padding: 6px;
    font-size: 11px;
}
input.error {border-color: red;}

/*#content {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    padding: 9.5px;
}*/


form div.tagsinput {border:1px solid #CCC; background: #FFF; padding:5px; width:300px; height:100px; overflow-y: auto;}
form div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}
form div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px;  }
form div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
form div.tagsinput div { display:block; float: left; }
form .tags_clear { clear: both; width: 100%; height: 0px; }
form .not_valid {background: #FBD8DB !important; color: #90111A !important;}

table {margin-top: 20px;}
table thead tr {font-weight: bold; background: gray; color: #DDDDDD; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
table thead tr a {font-weight: bold;  color: #DDDDDD; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
table thead tr a:hover {font-weight: bold;  color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
table tr td{line-height:25px !important; }
table tbody tr:hover td{background-color: #E3E3E3;}

table .btn {padding-top: 3px; padding-bottom: 3px;  padding-left: 5px;padding-right: 5px;}
.marginT15 {margin-top: 15px;}
 .nav .glyphicon {color: black;}
 a.glyphicon {color: black;}
.tab .glyphicon {color: black;}
.menuLeft .nav a{padding: 4px;}
.menuLeft .panel-body {padding: 8px;}
.tree .btn {padding-top: 3px; padding-bottom: 3px;  padding-left: 5px;padding-right: 5px;}
.tree .btn:hover {}


.ui-icon-loading {
    background: url("/images/ajax-loader.gif") repeat scroll 0 0 / 2.875em 2.875em rgba(0, 0, 0, 0);
}