<section class="msg">
    <div class="home-icon icon01"></div>
    <div class="home-icon icon02"></div>
    <div class="home-icon icon03"></div>
    <div class="home-icon icon04"></div>
    <div class="home-icon icon05"></div>
    <div class="home-icon icon06"></div>
    <div class="home-icon icon07"></div>
    <div class="home-icon icon08"></div>
    <div class="home-icon icon09"></div>
    <div class="home-icon icon10"></div>
    <div class="home-icon icon11"></div>
    <div class="container">
        <div class="row">
            <div class="msg-wrap">
                <h2 class="msg-title">
                    <?php if($this->competitionApplication->getStatus() == "ACTIVE"):?>
                    Twoje zgłoszenie zostało już aktywowane i jest widoczne w Galerii zgłoszeń.
                    <?php else: ?>
                    Twoje zgłoszenie zostanie aktywowane w Galerii zgłoszeń w ciągu 24h.
                    <?php endif; ?>
                </h2>
                <p class="msg-lead">
                    Czy wiesz, że możesz walczyć o kolejne nagrody? Wystarczy udzielić odpowiedzi na pytanie konkursowe w drugiej kategorii:<br><br>
                    <?php if($this->competitionApplication->getType() == "FRIENDS"):?>
                    <a href="<?php echo $this->url('save',array('type'=>'CHILDREN')) ?>" class="btn">Przejdź do pytania</a>
                    <?php else: ?>
                    <a href="<?php echo $this->url('save',array('type'=>'FRIENDS')) ?>" class="btn">Przejdź do pytania</a>
                    <?php endif ?>
                    
                </p>
            </div>
        </div>
    </div>
</section>
<?php $this->placeholder('footerScripts')->captureStart(); ?>
<!-- Facebook Pixel Code -->
<script>fbq('track', 'Lead');</script>
<!-- End Facebook Pixel Code -->
<?php $this->placeholder('footerScripts')->captureEnd(); ?>