<section class="msg">
    <div class="home-icon icon01"></div>
    <div class="home-icon icon02"></div>
    <div class="home-icon icon03"></div>
    <div class="home-icon icon04"></div>
    <div class="home-icon icon05"></div>
    <div class="home-icon icon06"></div>
    <div class="home-icon icon07"></div>
    <div class="home-icon icon08"></div>
    <div class="home-icon icon09"></div>
    <div class="home-icon icon10"></div>
    <div class="home-icon icon11"></div>
    <div class="container">
        <div class="row">
            <div class="msg-wrap">
                <h2 class="msg-title">Dziękujemy za udział w konkursie!</h2>
                <p class="msg-lead">Potwierdź zgłoszenie, klikając w link wysłany na podany przez Ciebie adres e-mail. <br/> <br/>
                    Po potwierdzeniu, zgłoszenie zostanie aktywowane w Galerii zgłoszeń w ciągu 24h.
                </p>
            </div>
        </div>
    </div>
</section>
<?php $this->placeholder('footerScripts')->captureStart(); ?>
<!-- Facebook Pixel Code -->
<script>fbq('track', 'Search');</script>
<!-- End Facebook Pixel Code -->
<?php $this->placeholder('footerScripts')->captureEnd(); ?>