<section class="gallery">
    <div class="home-icon icon01"></div>
    <div class="home-icon icon02"></div>
    <div class="home-icon icon03"></div>
    <div class="home-icon icon04"></div>
    <div class="home-icon icon05"></div>
    <div class="home-icon icon06"></div>
    <div class="home-icon icon07"></div>
    <div class="home-icon icon08"></div>
    <div class="home-icon icon09"></div>
    <div class="home-icon icon10"></div>
    <div class="home-icon icon11"></div>
    <div class="container">
        <div class="row">
            <div class="gallery-wrap">
                <h2 class="gallery-title">Zgłoszone prace</h2>
                <p class="gallery-lead">
                    Wybierz kategorię zgłoszeń i zobacz nadesłane propozycje
                </p>
                <ul class="tab-nav" role="tablist">
                    <li role="presentation" class="active"><a href="<?php echo $this->url('galleryText', array()); ?>" class="btn">Tekst</a></li>
                    <li role="presentation"><a href="<?php echo $this->url('galleryVideo', array()); ?>" class="btn">Wideo</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane text-pane fade active in" id="text">
                        <div class="js-content-lazy-load ">
                        <?php echo $this->partial('competition/index/textlist.phtml',array('paginator'=>$this->paginator,'startPosition'=>$this->startPosition,));?>
                        </div>
                        <div class="load-more">
                            <a href="<?php echo $this->url('galleryText', array()); ?>" class="btn jLazyLoad">Więcej</a>
                            <div class="spinner js-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<?php $this->placeholder('footerScripts')->captureStart(); ?>
<script>
    $(document).ready(function () {
        
        var pageLazyLoad = 2;
        $('.jLazyLoad').click(function (e) {
            e.preventDefault();
            var currentUrl = $(this).attr('href') + '/page/' + pageLazyLoad;
            var elementName = ".js-content-lazy-load";
            pageLazyLoad++;
            loadContent($(this), elementName, currentUrl);
        });


        function loadContent(el, elementName, currentUrl) {
            el.hide();
            $('.js-loader').show();
            $.get(currentUrl, {disablelayout: true}, function (data) {
                $('.js-loader').hide();
                el.show();
                $(elementName).append(data);
            });
        }

    });
</script>
<?php $this->placeholder('footerScripts')->captureEnd(); ?>