<section class="home">
    <div class="woman"></div>
    <div class="kid"></div>
    <div class="home-icon icon01"></div>
    <div class="home-icon icon02"></div>
    <div class="home-icon icon03"></div>
    <div class="home-icon icon04"></div>
    <div class="home-icon icon05"></div>
    <div class="home-icon icon06"></div>
    <div class="home-icon icon07"></div>
    <div class="home-icon icon08"></div>
    <div class="home-icon icon09"></div>
    <div class="home-icon icon10"></div>
    <div class="home-icon icon11"></div>
    <div class="container">
        <div class="main-logo"><img src="img/logo-masz-pojecie.png"></div>
        <!-- <h1 class="big-title">masz pojęcie?</h1> -->
        <!-- <h4 class="small-title">Co Ty wiesz o inwestowaniu?</h4> -->
        <div class="row">
            <p class="lead">Konkurs został zakończony. Wszystkim zainteresowanym serdecznie dziękujemy za udział.</p>
            <p class="lead"><a class="btn" href="<?php echo $this->url('winners',array());?>">Zobacz listę zwycięzców</a></p>
        </div>
        <div class="row select-form">
            <?php /* <div class="select select-friends">
                <a href="<?php echo $this->url('save',array('type'=>\CompetitionApp\Models\Entity\CompetitionApplication::TYPE_FRIENDS)); ?>" class="content">
                    <h3>Znajomi</h3>
                    <p>Znasz się choć trochę na inwestowaniu w fundusze?</p>
                    <p><strong>Wytłumacz to znajomym</strong><i class="fa fa-chevron-right"></i></p>
                </a>
            </div>
            <div class="select select-kids">
                <a href="<?php echo $this->url('save',array('type'=>\CompetitionApp\Models\Entity\CompetitionApplication::TYPE_CHILDREN)); ?>" class="content">
                    <h3>Dziecko</h3>
                    <p>Inwestowanie w fundusze jest dziecinnie proste?</p>
                    <p><strong>Wytłumacz to dziecku</strong><i class="fa fa-chevron-right"></i></p>
                </a>
            </div> */?>
        </div>
    </div>
</section>
<section class="awards">
    <div class="container">
        <h2>Nagrody w konkursie</h2>
        <div class="row">
            <div class="award">
                <img src="/img/galaxy_tab.png">
                <p>Tablet
                    <br>
                    <strong>Samsung Galaxy Tab 4 7.0</strong></p>
            </div>
            <div class="award">
                <img src="/img/kindle.png">
                <p>Czytnik
                    <br>
                    <strong>Amazon Kindle Paperwhite 3G Edition</strong></p>
            </div>
        </div>
        <a href="zasady#nagrody" class="btn show-more">Zobacz wszystkie</a>
    </div>
</section>