<section class="rules">
    <div class="home-icon icon01"></div>
    <div class="home-icon icon02"></div>
    <div class="home-icon icon03"></div>
    <div class="home-icon icon04"></div>
    <div class="home-icon icon05"></div>
    <div class="home-icon icon06"></div>
    <div class="home-icon icon07"></div>
    <div class="home-icon icon08"></div>
    <div class="home-icon icon09"></div>
    <div class="home-icon icon10"></div>
    <div class="home-icon icon11"></div>
    <div class="container">
        <div class="row">
            <div class="rules-wrap">
                <h2 class="rules-title">Jak wygrać<br>w konkursie?</h2>
                <ul class="steps">
                    <li>Wytłumacz własnymi słowami dziecku lub znajomemu na czym polega inwestowanie w fundusze (zgłoszenia możesz dokonać w obydwu kategoriach).</li>
                    <li>Twoje zgłoszenie może mieć formę tekstu lub nagrania wideo.</li>
                    <li>Konkurs trwa od <strong>20.10.2015 r.</strong> do <strong>30.11.2015 r.</strong></li>
                    <li>O wygranej poinformujemy Cię na stronie konkursowej oraz za pośrednictwem e-maila.</li>
                    <li>Jury nagrodzi najciekawsze zgłoszenia następującymi nagrodami:</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="nagrody" class="awards awards">
    <div class="container">
        <h2>Nagrody w konkursie</h2>
        <div class="row">
            <div class="award kids-award">
                <div class="item title">
                    <h3>Kategoria <strong>Wytłumacz dziecku</strong></h3>
                </div>
                <div class="item">
                    <h4 class="place">I miejsce</h4>
                    <img data-toggle="popover" data-placement="right" data-html="true" data-content="<div class='tooltip-thumb'><img src='/img/big-galaxy_tab.jpg'></div>" src="/img/galaxy_tab.png">
                    <p>Tablet
                        <br>
                        <strong>Samsung Galaxy Tab 4 7.0</strong></p>
                </div>
                <div class="item">
                    <h4 class="place">II miejsce</h4>
                    <img data-toggle="popover" data-placement="right" data-html="true" data-content="<div class='tooltip-thumb'><img src='/img/big-instax.jpg'></div>"  src="/img/instax.png">
                    
                    <p>Aparat do zdjęć natychmiastowych
                        <br>
                        <strong>Fuji Instax Mini 8</strong></p>
                </div>
                <div class="item">
                    <h4 class="place">III miejsce</h4>
                    <img data-toggle="popover" data-placement="right" data-html="true" data-content="<div class='tooltip-thumb'><img src='/img/big-smartwatch.jpg'></div>"  src="/img/smartwatch.png">
                    
                    <p>Smartwatch
                        <br>
                        <strong>Manta Elegant SWT201</strong></p>
                </div>
            </div>
            <div class="award friends-award">
                <div class="item title">
                    <h3>Kategoria <strong>Wytłumacz znajomemu</strong></h3>
                </div>
                <div class="item">
                    <h4 class="place">I miejsce</h4>
                    <img data-toggle="popover" data-placement="right" data-html="true" data-content="<div class='tooltip-thumb'><img src='/img/big-kindle.jpg'></div>"  src="/img/kindle.png">
                    
                    <p>Czytnik
                        <br>
                        <strong>Amazon Kindle Paperwhite 3G Edition</strong></p>
                </div>
                <div class="item">
                    <h4 class="place">II miejsce</h4>
                    <img data-toggle="popover" data-placement="right" data-html="true" data-content="<div class='tooltip-thumb'><img src='/img/big-gopro.jpg'></div>"  src="/img/gopro.png">
                    
                    <p>Kamera sportowa
                        <br>
                        <strong>GOPRO Hero CHDHA-301</strong></p>
                </div>
                <div class="item">
                    <h4 class="place">III miejsce</h4>
                    <img data-toggle="popover" data-placement="right" data-html="true" data-content="<div class='tooltip-thumb'><img src='/img/big-books.jpg'></div>"  src="/img/books.png">
                    
                    <p>Książki na temat inwestowania
                        <br>
                        <strong>„Pieniądze dla Pań”,</strong>
                        <br>
                        <strong>„Jak inwestować i pomnażać oszczędności”,</strong>
                        <br>
                        <strong>„Jak zadbać o własne finanse”</strong></p>
                </div>
            </div>
            <div class="award additional-award">
            <div class="item title">
                    <h3>Nagrody <strong>dodatkowe</strong></h3>
                </div>
                <div class="item">
                    <img data-toggle="popover" data-placement="right" data-html="true" data-content="<div class='tooltip-thumb'><img src='/img/big-kalendarz.jpg'></div>" src="/img/kalendarz.png">
                    <p><strong>UniKalendarz</strong> na rok 2016<br>oraz <strong>gadżety biurowe</strong></p>
                </div>

            </div>
        </div>
    </div>
</section>