<?php
$this->title = 'Competition Form';

$form = $this->form;
$form->setAttribute('class', 'form-competition');
$form->setAttribute('role', 'form');
$form->setAttribute('id', 'jForm');
$form->setAttribute('action', $this->url(null, array(), array(), true));
$form->prepare();

$formFieldset = $form->get('competitionFieldset');
?>
<section class="home <?php echo ($this->type==CompetitionApp\Models\Entity\CompetitionApplication::TYPE_CHILDREN) ? 'form-kid' : 'form-friend';?>">
    <div class="<?php echo ($this->type==CompetitionApp\Models\Entity\CompetitionApplication::TYPE_CHILDREN) ? 'kid' : 'woman';?>"></div>
    <div class="home-icon icon01"></div>
    <div class="home-icon icon02"></div>
    <div class="home-icon icon03"></div>
    <div class="home-icon icon04"></div>
    <div class="home-icon icon05"></div>
    <div class="home-icon icon06"></div>
    <div class="home-icon icon07"></div>
    <div class="home-icon icon08"></div>
    <div class="home-icon icon09"></div>
    <div class="home-icon icon10"></div>
    <div class="home-icon icon11"></div>
    <div class="container">
        <div class="row">
            <div class="form-wrap">
                <?php if($this->type==CompetitionApp\Models\Entity\CompetitionApplication::TYPE_CHILDREN): ?>
                <h2 class="form-title">wytłumacz to dziecku</h2>
                <p class="form-lead">
                    Udziel prostej odpowiedzi na pytanie:
                    <br>
                    <strong>na czym polega inwestowanie w fundusze?</strong>
                    <br> Pamiętaj, że mówisz do dziecka
                </p>
                <?php else: ?>
                <h2 class="form-title">wytłumacz to znajomym</h2>
                <p class="form-lead">
                    Udziel prostej odpowiedzi na pytanie:
                    <br>
                    <strong>na czym polega inwestowanie w fundusze?</strong>
                    <br>Pamiętaj, że mówisz do znajomego.

                </p>
                <?php endif; ?>
                <?php echo $this->form()->openTag($form) . PHP_EOL; ?>
                    <?php $this->formRow()->setPartial('formpartial/hidden'); ?>
                    <?php echo $this->formRow($formFieldset->get('section')) . PHP_EOL; ?>
                    <?php $this->formRow()->setPartial('formpartial/text'); ?>
                
                    <label>Wybierz jedną z 2 kategorii odpowiedzi:</label>
                    <ul class="tab-nav" role="tablist">
                        <li role="presentation" <?php echo ($this->section == CompetitionApp\Models\Entity\CompetitionApplication::SECTION_TEXT) ? 'class="active"': '';?>><a href="#text" data-section="<?php echo CompetitionApp\Models\Entity\CompetitionApplication::SECTION_TEXT ?>" aria-controls="text" role="tab" data-toggle="tab" class="btn">Tekst</a></li>
                        <li role="presentation" <?php echo ($this->section == CompetitionApp\Models\Entity\CompetitionApplication::SECTION_YOUTUBE) ? 'class="active"': '';?>><a href="#video" aria-controls="video" role="tab" data-section="<?php echo CompetitionApp\Models\Entity\CompetitionApplication::SECTION_YOUTUBE ?>" data-toggle="tab" class="btn">Wideo</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane <?php echo ($this->section == CompetitionApp\Models\Entity\CompetitionApplication::SECTION_TEXT) ? 'active in': '';?> fade" id="text">
                             <?php $this->formRow()->setPartial('formpartial/textarea'); ?>
                             <?php echo $this->formRow($formFieldset->get('content')) . PHP_EOL; ?>
                        </div>
                        <div role="tabpanel" class="tab-pane fade <?php echo ($this->section == CompetitionApp\Models\Entity\CompetitionApplication::SECTION_YOUTUBE) ? 'active in': '';?>" id="video">
                            <div class="form-group space">
                                <?php $this->formRow()->setPartial('formpartial/text'); ?>
                                <?php echo $this->formRow($formFieldset->get('youtubeLink')) . PHP_EOL; ?>
                            </div>
                        </div>
                    </div>
                    <label>Podaj swoje dane</label>
                    <div class="row">
                        <div class="form-group small">
                             <?php echo $this->formRow($formFieldset->get('userName')) . PHP_EOL; ?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group small">
                            <?php echo $this->formRow($formFieldset->get('userEmail')) . PHP_EOL; ?>
                        </div>
                    </div>
                    <div class="form-group space">
                        <?php $this->formRow()->setPartial('formpartial/rule_1'); ?>
                        <?php echo $this->formRow($formFieldset->get('rule1')) . PHP_EOL; ?>
                        <?php $this->formRow()->setPartial('formpartial/rule_2'); ?>
                        <?php echo $this->formRow($formFieldset->get('rule2')) . PHP_EOL; ?>
                        <?php $this->formRow()->setPartial('formpartial/rule_3'); ?>
                        <?php echo $this->formRow($formFieldset->get('rule3')) . PHP_EOL; ?>
                        <?php $this->formRow()->setPartial('formpartial/rule_4'); ?>
                        <?php echo $this->formRow($formFieldset->get('rule4')) . PHP_EOL; ?>
                        <?php $this->formRow()->setPartial('formpartial/rule_5'); ?>
                        <?php echo $this->formRow($formFieldset->get('rule5')) . PHP_EOL; ?>
                        <?php $this->formRow()->setPartial('formpartial/rule_6'); ?>
                        <?php echo $this->formRow($formFieldset->get('rule6')) . PHP_EOL; ?>
                    </div>
                    <button type="submit" data-category="Form" data-action="Submit" data-name="<?php echo $this->type;?> " class="js-ga-btn btn send">Gotowe</button>
            </div>
            <?php echo $this->form()->closeTag($form) . PHP_EOL; ?>
        </div>
    </div>
</section>
<?php $this->placeholder('footerScripts')->captureStart(); ?>
<script type="text/javascript">
    function countChar(val) {
        var len = val.value.length;
        if (len > 500) {
            val.value = val.value.substring(0, 500);
        } else {
            $('#charNum').text(len);
        }
    };
    $(document).ready(function () {
        
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
              var section = $(e.target).attr('href');
              var sectionRelated = $(e.relatedTarget).attr('href');
              var currentSection = $(e.target).attr('data-section');
              $(sectionRelated+' input, '+sectionRelated+' textarea').removeClass('required');
              $(section+' input, '+section+' textarea').addClass('required');
              console.log(currentSection);
              $('#jForm input.js-section').val(currentSection);
              
          });


        $("#jForm").validate({
            errorPlacement: function (error, element) {
                error.appendTo('#invalid-' + element.attr('id'));
            }
        });

    });
</script>
<?php $this->placeholder('footerScripts')->captureEnd(); ?>















