<?php if (count($this->paginator) > 0): ?>
    <?php
    $position = $this->startPosition;
    $iterationPosition = $this->startPosition;
    $currentTotal = null;
    foreach ($this->paginator as $item):?>
        <div class="row text-item">
            <div class="item-data">
                <div class="fix-position">
                    <div class="date"><?php echo $item->getCreatedAt()->format('d.m.Y'); ?> - <?php echo $this->translate('competition_type_'.$item->getType())?></div>
                    <div class="name"><?php echo $item->getUserName(); ?></div>
                </div>
            </div>
            <div class="text-content collapsed" data-toggle="collapse" data-toggle="collapse" data-target="#collapse-<?php echo $item->getId(); ?>" aria-expanded="false" aria-controls="collapse-1">
                <div class="wrap">
                    <p class="intro"><?php echo $this->truncate($item->getContent(),25);?>...</p>
                    <p class="more collapse" id="collapse-<?php echo $item->getId(); ?>"><?php echo $item->getContent(); ?></p>
                </div>
                <div class="angle"><i class="fa fa-angle-down"></i></div>
            </div>
        </div>
    <?php endforeach; ?>
<?php else: ?>
    <?php if($this->startPosition == 1) :?>
    Brak zgłoszeń
    <?php endif; ?>
<?php endif; ?>
<script>
$('.text-content').click(function() {
    $(this).toggleClass('active');
});
</script>