<?php if (count($this->paginator) > 0): ?>
    <?php
    $position = $this->startPosition;
    $iterationPosition = $this->startPosition;
    $currentTotal = null;
    foreach ($this->paginator as $item):?>
        <?php if($item->getYoutubeLink()): ?>
        <div class="video-item youtube" data-video-id="<?php echo $this->youtubeVideoId($item->getYoutubeLink()); ?>" data-username="<?php echo $item->getUserName(); ?>" data-date="<?php echo $item->getCreatedAt()->format('d.m.Y'); ?> - <?php echo $this->translate('competition_type_'.$item->getType())?>">
            <img src="<?php echo $this->youtubeThumb($item->getYoutubeLink()); ?>">
            <div class="item-data">
                <div class="play"><i class="fa fa-play"></i></div>
                <div class="date"><?php echo $item->getCreatedAt()->format('d.m.Y'); ?> - <?php echo $this->translate('competition_type_'.$item->getType())?></div>
                <div class="name"><?php echo $item->getUserName(); ?></div>
            </div>
        </div>
        <?php endif; ?>
    <?php endforeach; ?>
<?php else: ?>
    <?php if($this->startPosition == 1) :?>
    Brak zgłoszeń
    <?php endif; ?>
<?php endif; ?>
<script>
        $('.youtube').click(function() {
            var currentvideoId = $(this).attr('data-video-id');
            var currentUsername = $(this).attr('data-username');
            var currentDate = $(this).attr('data-date');
            var iframeYoutube = '<iframe width="100%" height="336" src="//www.youtube.com/embed/' + currentvideoId + '?showinfo=0" frameborder="0" allowfullscreen></iframe>';
            $('#myModal .video-player').html(iframeYoutube);
            $('#myModal .item-data .name').html(currentUsername);
            $('#myModal .item-data .date').html(currentDate);
            $('#myModal').modal('show');
        });
</script>