<section class="rules congrats">
    <div class="home-icon icon01"></div>
    <div class="home-icon icon02"></div>
    <div class="home-icon icon03"></div>
    <div class="home-icon icon04"></div>
    <div class="home-icon icon05"></div>
    <div class="home-icon icon06"></div>
    <div class="home-icon icon07"></div>
    <div class="home-icon icon08"></div>
    <div class="home-icon icon09"></div>
    <div class="home-icon icon10"></div>
    <div class="home-icon icon11"></div>
    <div class="container">
        <div class="row">
            <div class="rules-wrap">
                <h2 class="rules-title">Gratulujemy</h2>
            </div>
        </div>
    </div>
</section>
<section id="nagrody" class="awards winners">
    <div class="container">
        <h2>Lista zwycięzców</h2>
        <div class="row">
            <div class="award kids-award">
                <div class="item title">
                    <h3>Kategoria <strong>Wytłumacz dziecku</strong></h3>
                </div>
                <div class="item">
                    <h4 class="place">I miejsce</h4>
                    <div class="winner">
                        <h3>Piotr Kędziora</h3>
                        <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                        <div class="answer">
                        <iframe width="100%" height="336" src="https://www.youtube.com/embed/MCGuJEGADpE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <img data-toggle="popover" data-placement="right" data-html="true" data-content="<div class='tooltip-thumb'><img src='/img/big-galaxy_tab.jpg'></div>" src="/img/galaxy_tab.png">
                    <p>Tablet
                        <br>
                        <strong>Samsung Galaxy Tab 4 7.0</strong></p>
                </div>
                <div class="item">
                    <h4 class="place">II miejsce</h4>
                    <div class="winner">
                        <h3>Anna Krosny</h3>
                        <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                        <div class="answer"><p>
                            Wilk i Zając dostali od Niedźwiedzia po jednym ziarenku i mogli zrobić z nim co tylko zechcą.Wilk wyrzucił ziarno zboża na twardą i suchą ziemię, a zając użyczył kawałek ogródka od sowy i zasadził ziarenko w żyznej, wilgotnej i oświetlonej słońcem glebie. Po kilku tygodniach w ogródku wyrosły piękne zboża, z których zajączek znowu pozbierał ziarenka i posadził je ponownie.Jaka jest różnica pomiędzy tym co zrobił Wilk,a tym co zrobił Zając?Wilk, stracił swoją szansę, a Zając?Zając zainwestował:)</p>
                        </div>
                    </div>
                    <img data-toggle="popover" data-placement="right" data-html="true" data-content="<div class='tooltip-thumb'><img src='/img/big-instax.jpg'></div>"  src="/img/instax.png">
                    
                    <p>Aparat do zdjęć natychmiastowych
                        <br>
                        <strong>Fuji Instax Mini 8</strong></p>
                </div>
                <div class="item">
                    <h4 class="place">III miejsce</h4>
                    <div class="winner">
                        <h3>Patrycja Więcław – Bigos</h3>
                        <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                        <div class="answer"><p>
                            Inwestowanie w fundusze to jedna z najlepszych form inwestowania na rynku światowym. Towarzystwa zarządzane są przez najlepszych specjalistów daje ci to gwarancję, że powierzasz pieniądze osobie godnej zaufania. Jeśli interesuje Cię np. rynek chiński...pyk i już wybierasz fundusz który działa na wybranym przez ciebie rynku wolisz obligacje korporacyjne...pyk i już masz środki w obligacjach i co najważniejsze nie masz obligacji jednej firmy, pieniądze twoje są podzielne na kilkadziesiąt firm.</p>
                        </div>
                    </div>
                    <img data-toggle="popover" data-placement="right" data-html="true" data-content="<div class='tooltip-thumb'><img src='/img/big-smartwatch.jpg'></div>"  src="/img/smartwatch.png">
                    
                    <p>Smartwatch
                        <br>
                        <strong>Manta Elegant SWT201</strong></p>
                </div>
            </div>
            <div class="award friends-award">
                <div class="item title">
                    <h3>Kategoria <strong>Wytłumacz znajomemu</strong></h3>
                </div>
                <div class="item">
                    <h4 class="place">I miejsce</h4>
                    <div class="winner">
                        <h3>Paweł Adamczyk</h3>
                        <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                        <div class="answer"><p>
                            Inwestowanie w FI można porównać do podróży. Gdy chcemy dojechać w określone miejsce, ale wolimy przekazać odpowiedzialność za nasz transport zawodowemu kierowcy to wybierzemy np. autobus lub pociąg. Dzięki temu nie trzeba samemu posiadać wielu niezbędnych umiejętności oraz doświadczenia, a także zaoszczędzić czas - wystarczy kupić bilet, a zbiorowo jest taniej. Podobnie jest w funduszach, gdzie zarządzający określa w co i jak będzie inwestował, a my możemy w tą podróż pojechać z wraz z nim.</p>
                        </div>
                    </div>
                    <img data-toggle="popover" data-placement="right" data-html="true" data-content="<div class='tooltip-thumb'><img src='/img/big-kindle.jpg'></div>"  src="/img/kindle.png">
                    
                    <p>Czytnik
                        <br>
                        <strong>Amazon Kindle Paperwhite 3G Edition</strong></p>
                </div>
                <div class="item">
                    <h4 class="place">II miejsce</h4>
                    <div class="winner">
                        <h3>Wojciech Grodzicki</h3>
                        <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                        <div class="answer"><p>
                            Inwestowanie w fundusze to kupno jednostek funduszu, którego polityka oraz poziom ryzyka nam odpowiadają. Naszym kapitałem zarządza profesjonalista, który monitoruje bieżącą sytuację na rynku, przewiduje jego zachowania i podejmuje decyzję dążąc do osiągnięcia jak najwyższej stopy zwrotu (na danym poziomie ryzyka). Wartość naszych jednostek zmienia się w czasie. Kończymy inwestycje sprzedając jednostki z zyskiem lub stratą, zależnie od wyceny na dany dzień. Możemy ew. zmienić subfundusz.</p>
                        </div>
                    </div>
                    <img data-toggle="popover" data-placement="right" data-html="true" data-content="<div class='tooltip-thumb'><img src='/img/big-gopro.jpg'></div>"  src="/img/gopro.png">
                    
                    <p>Kamera sportowa
                        <br>
                        <strong>GOPRO Hero CHDHA-301</strong></p>
                </div>
                <div class="item">
                    <h4 class="place">III miejsce</h4>
                    <div class="winner">
                        <h3>Przemysław Krawczyk</h3>
                        <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                        <div class="answer"><p>
                            Inwestycja w fundusze to najlepszy sposób na oszczędzanie i pomnażanie pieniędzy. Dziś nikt rozsądny nie trzyma ich już w 'skarpecie'. Inwestując w fundusze, umieszczasz swój kapitał w bezpiecznym miejscu. Pozwalasz mu systematycznie rosnąć, a zysk jest wyższy niż na zwykłej lokacie. Jesteś młody, stoisz przed wieloletnią perspektywą. Jeśli zaczniesz inwestować teraz, z każdym miesiącem zyski będą pracować na Twoją korzyść, będą potęgować efekt 'kuli śniegowej'. Nie czekaj. Zacznij już teraz.</p>
                        </div>
                    </div>
                    <img data-toggle="popover" data-placement="right" data-html="true" data-content="<div class='tooltip-thumb'><img src='/img/big-books.jpg'></div>"  src="/img/books.png">
                    
                    <p>Książki na temat inwestowania
                        <br>
                        <strong>„Pieniądze dla Pań”,</strong>
                        <br>
                        <strong>„Jak inwestować i pomnażać oszczędności”,</strong>
                        <br>
                        <strong>„Jak zadbać o własne finanse”</strong></p>
                </div>
            </div>
            <div class="award additional-award">
            <div class="item title">
                    <h3>Nagrody <strong>dodatkowe</strong></h3>
                </div>
                <div class="item">
                    <ol>
                        <li>
                            <div class="winner">
                                <h3>Paulina Moryc</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <iframe width="100%" height="336" src="https://www.youtube.com/embed/BFeS6IHLpps?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Anna Gałaszewska</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Wiesz synku, mama sporo czasu siedzi w pracy i dzięki temu ma pieniążki. Część z tego, co zrobi, odkłada do takiego specjalnego Funduszu. Pieniążki, które tam wkładam, kiedyś będą należeć do Ciebie. Zanim dorośniesz będą się nim zajmowali tacy mądrzy panowie w garniturach, aby tych pieniążków było jak najwięcej. Znają się na tabelkach, wykresach i innych podobnych rzeczach, dzięki czemu wiedzą, jak sprawić, żebyś w przyszłości miał dobry start i było Ci łatwiej wejść w dorosłe życie.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Emil Kietzman</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Słuchaj Smyku, tata teraz część pieniędzy odkłada do takiego specjalnego Funduszu, ale za jakiś czas tych pieniędzy będzie więcej. Tak jak wkładasz ziarno do ziemi i podlewasz, podsypujesz nawozem a potem możesz cieszyć się owocem tego, co stworzyłeś. Fundusze to taka lepsza wersja różowej skarbonki, bo ktoś się troszczy o te drobniaki, które wkładamy. Próbuje zarobić to tu to tam i potem się dzieli z nami zarobkiem. Jeden drobniak dla niego, jeden dodatkowy dla nas. I jesteśmy do przodu! :)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Aleksandra Kołodziej</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Fundusze to takie drzewa z banknotami - jeśli fundusz je podlewa i odpowiednio o nie dba, czyli efektywnie inwestuje, to drzewko szybko rośnie. Każde drzewko wymaga odmiennej pielęgnacji, dlatego ważne jest, aby zarządzanie takim funduszem powierzyć osobom mającym wiedzę i doświadczenie lub samemu zapoznać się ze wszystkimi zagadkami. Czasem bywa tak, że na początku wydaje się, że nasze drzewko nie urośnie, ale nagle rozkwita i rośnie szybciej, niż inne, tak również bywa z funduszami.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Ewa Mierzejewska</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Misiu pamiętasz jak zasypiałaś tamtego wieczora i mieliśmy tylko kicię? Budzisz się rano i koło niej są 3 małe kociaki!A ile radości było w naszym domu! Tak samo jest z inwestowaniem w fundusze. Ty spokojnie sobie śpisz, a pieniążki rosną i rosną cały czas. A rano cieszysz się, że masz ich co raz więcej. I nie tylko starczy Ci na lalkę, lecz też na wózeczek dla lali. Fajnie, prawda?</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Adrian Nowakowski</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                Chcielibyście z kolegami uczyć się gry w piłkę, grać super piłką, mieć dobry sprzęt do terningów, grac mecze w zespole, zobywać puchary i nagrody? Osobno nie macie wiedzy i wystarczających pieniędzy, żeby to zrealizować. Zapiszcie się do klubu (funduszu), wpłacajcie składki (50 zł co miesiąc). Macie zagwarantowane boisko i rywali (rynek), trenera (zarządzającego), sprzęt i treningi (narzędzia), dzięki którym dużo się nauczycie i zdobędziecie nagrody (zyski z inwestycji). W zepole SIŁA !!
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Natalia Bednarz</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    KRÓLIK I SURYKATKA Za górami,za lasami,żył Pan Królik z króliczkami, Najbogatszy w okolicy worki jadła miał w piwnicy. Królik bogacz miał sąsiadkę,małą,biedną Surykatkę. Co swój grosik zamiast chować,chciała w fundusz inwestować. Kiedy nadszedł zimy czas,przysypało cały las. Królik co to lubił pojeść,szybko zeżarł zbiory swoje. I tak królik biedny teraz do sąsiadki sie wybiera! Oszczędzanie dobre z gruntu-nie w skarpetę,lecz na fundusz Na funduszu pieniądz trzymasz i niestraszna żadna zima!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Sebastian Macioszek</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Na czym polega inwestowanie w fundusze synku? To nie trudne. Najpierw musisz mieć zaoszczędzone pieniądze. Czyli takie których nie potrzebujesz na żadne wydatki. Potem idziesz do firmy w której są specjaliści od finansów. Dajesz im pieniądze wierząc i mając nadzieję, że oni znają się na pieniądzach lepiej od Ciebie. Za kilka lat jeśli oddałeś je dobrym specjalistom odbierzesz więcej pieniędzy niż dałeś i to będzie Twój zysk. Jeśli wybrałeś złych specjalistów zysku nie będzie. I to jest ryzyko...</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Dominika Bogacka</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Inwestowanie w fundusze uspokoi Twoją duszę. Bezpieczniejsze to niż giełda, jestem pewna, przecież nie łgam! Specjaliście Ci pomogą, będziesz w niebie jedną nogą. Nie potrzeba kosztów dużych, lepiej kupić bukiet róży. Żonę Twą ucieszą zyski, będziesz pił z Nią dobre whisky. Zainwestuj swe pieniądze, ja to robię i nie błądzę. Strat pieniędzy się nie boję, wciąż walczę o dobro swoje :-) To bezpieczne rozmnażanie Twoich kosztowności, niech w Twym domu szczęście niebawem zagości!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Agnieszka Kruk</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Inwestowanie to po prostu inwestowanie z głowa tak by twoje pieniądze wróciły do Ciebie co najmniej z podwojonym zyskiem. Najlepiej inwestować tak by w nocy spać spokojnie i nie martwić się o swoje pieniądze. Inwestować każdy może , o każdej porze, czy to w dzień czy noc y nikt Ci nie podskoczy bo przecież o to chodzi o by osiągnąć jak największy zysk i kasę zyskać w mig…</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Iwona Żabiełowicz</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Pamiętasz jak w dziecińskie wymielismy się karteczkami z postaciami z bajek?Zakładaliśmy segregator, w którymym trzymaliśmy odpowiednio posortowane karteczki w koszulkach. Każda karteczka miała inna wartość. Za jedną z postacią disneya trzeba było oddać kilka np. ze zwierzętami. Mieliśmy cel - zdobyć jak najwięcej karteczek o jak największej wartości. Podobnie jest z funduszami, zamiast segregatora masz portfel inwestycyjny. Zamiast karteczek kupujesz fundusze w taki sposób aby zyskiwać…</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Ewelina Rus-Kochan</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Inwestowanie w fundusze = lokowanie środków w celu ich pomnażania:) Fundusze są obarczone ryzykiem, ale dają również możliwość osiągnięcia ponadprzeciętnych zysków. To nie tylko powszechnie znane akcje i obligacje, ale również szerokie spektrum innych rozwiązań - szansa na dywersyfikację portfela (zróżnicowanie).</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Łukasz Kolek</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Słuchaj Stary, wyobraź sobie, że masz 10 000 złotych. Byłeś na wakacjach w Turcji i widzisz jak rozwija się gospodarka, turyści pchają się drzwiami i oknami a na lotnisku czekasz w kolejce całą godzinę na odprawę. Sukces gospodarczy jakby nie patrzeć. A u nas wybory, OFE, afery i dołuąca giełda. Fundusz to jest narzędzie, dzięki któremu możesz w najprostszy sposób kupić "kawałek Turcji" i mieć udział w tym sukcesie gospodarczym. Kupujesz i sprzedajesz kiedy chcesz... To jest to! :)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Agnieszka Czapska-Pruszak</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Inwestujesz w żonę? Chcesz, żeby pięknie wyglądała i miała seksowne ciało? Dbasz o nią? Troszczysz się? Chcesz, żeby Tak samo jest z kasą. Nie trzymaj jej samotnej na koncie, zainwestuj w fundusze, a to przyniesie Ci zyski. Tak, jak pięknej zony zazdroszczą Ci wszyscy, tak nowego auta zazdrościć będzie jeszcze więcej... Ale na wszystko potrzebujesz kasy... Nie trzymaj jej w skarpecie, zainwestuj w fundusze..</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Iwona Giza</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Inwestowanie jest jak picie dobrego wina. Jeśli jakieś jest dobre sięgasz po nie kolejny raz. Nie zawsze drogie wino przyniesie nam lepszy nastrój, oraz nie zawsze tanie, przysporzy nas o ból głowy. Niezależnie od tego co lubimy, warto szukać nowych smaków, bo może się okazać, że natrafimy na perełkę. Podczas degustacji niejednokrotnie możemy stracić trunek rozbijając butelkę. Najważniejsze jest jednak to, aby nie bać się nowości, znać umiar, umieć powiedzieć stop i dokonywać wyborów na trzeźwo</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Marcin Meloch</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Wybierając fundusze szare komórki poruszę :p Oszczędności stabilnie się pomnażają, stan finansów poprawiają! Inwestujecie gdzie chcecie-w Europie, Azji, na całym świecie. Nie musisz mieć monet szczerozłotych wystarczy w garści sto złotych :) Specjaliści w wyborze pomagają, spokój zapewniają. Nie czekaj dłużej, podążaj dobrym torem- zostań dzisiaj inwestorem! ;)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Norbert Chandryko</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Inwestowanie w fundusze polega na pomnażaniu tego co masz. Podczas gdy lokata bankowa pozwala zaledwie ochronić kapitał przed inflacją, inwestowanie w fundusze daje możliwość zwiększenia stanu twojego konta. Pieniądze powierzasz specjalistom, którzy w zależności od akceptowanego przez Ciebie poziomu ryzyka, dobierają odpowiednie inwestycje i pilnują twego majątku jak swojego własnego.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Marek Kulesza</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Gdy człowiek ma oszczędności a nie ma czasu i wiedzy żeby inwestować je samodzielnie powierza te oszczędności specjalistom, czyli wpłaca do funduszu inwestycyjnego. Zależnie od podejścia do ryzyka (jak w życiu, czym więcej chcemy zarobić tym bardziej ryzykujemy) - specjaliści z funduszu wybierają najlepszy dla nas fundusz (bezpieczny lub mniej bezpieczny ale z większą szansą zysku), potem zarządzają najlepiej jak potrafią żeby Klient zadowolony z wyników funduszu nie szukał innych rozwiązań.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Barbara Hebda</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Inwestowanie w fundusze polega na zakupie jednostek uczestnictwa i daje możliwość uzyskania zysków większych niż na tradycyjnych lokatach bankowych. Wiąże się to z ryzykiem większym lub mniejszym w zależności od rodzaju funduszu. Boisz się ryzyka? Ale to właśnie ryzyko powoduje, że Twoje zyski mogą być ponadprzeciętne. Całe nasze życie jest ryzykiem. Wychodząc z domu już ryzykujesz, jadąc samochodem, podejmując się różnych zajęć. A więc... DO ODWAŻNYCH ŚWIAT NALEŻY :)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Krzysztof Cieplak</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Fundusz inwestycyjny to nowoczesna i efektywna metoda oszczędzania. Jest to najlepsza forma lokowania pieniędzy dla osób i firm, które nie są ekspertami na rynku kapitałowym bądź nie znajdują czasu na poszukiwanie najlepszych sposobów lokowania oszczędności, a chciałyby korzystnie pomnażać swoje pieniądze. Inaczej mówiąc fundusz inwestycyjny to forma zbiorowego lokowania środków pieniężnych wpłaconych przez Ciebie do danego TFI.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Mallory</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Inwestuję. Masz pojęcie? To dopiero jest zajęcie. W biurze kasę: bach – na stół, a jednostki: w górę..., w dół... Kupić można rynki wszelkie, zyski duże, lub niewielkie, gimnastyka z tym jest taka, żeby w porę dać drapaka. Patrzysz miesiąc, drugi, trzeci, drżą Ci łydki, bo TO leci, lub anielskie słyszysz chóry, kiedy poszło TO do góry. Gdy wyskoczysz w dobrej porze, to na wyjazd masz nad morze. Tak wytrzymaj wahań wiele, zrealizuj wszystkie cele.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Mateusz Waśko</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Pomyśl że kupujesz właśnie dwudziestoletnią butelkę dobrej whisky. Możesz ją wypić od razu, ale zastanów się czy warto! Wiem że będzie Cię kusiła, lecz jeżeli wytrzymasz dwadzieścia lat to Twoja Whisky będzie warta cztery razy tyle! Zarobione pieniądze możesz wykorzystać na podróż dookoła świata, gdzie wypijesz nie jedną butelkę wspomnianego napoju.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Roman Jaguś</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer"><p>
                                    Stary, z funduszami jest jak z whisky, na pierwszy łyk nie jest to ani smaczne i wydaje się przereklamowane. Trzeba mieć trochę doświadczenia by zacząć doceniać jej walory a być już smakoszem by odróżnić dobrą Whisky od pierwszej lepszej. Mimo wszystko warto spróbować ! :)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Mirosław Sowiński</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Narzekała Hania na Marcina: jego kasa wcale się nie trzyma! Co więcej zarobi to zainwestuje, a pieniądz -jak woda na słońcu-zaraz wyparuje! Chłopisko nie ma czasu,sam rady nie daje, bo to jednak absorbujące i czasochłonne zadanie. A można to wszystko zlecić specjalistom, fundusz inwestycyjny się to nazywa. Masz pieniądze w dobrych rękach,żyjecie spokojnie, i tylko sprawdzacie ile tam przybywa.
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Wioletta Kaniewska</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Iwestowanie w fundusze polega na lokowaniu swoich oszczedności w fundusze które mogą pomóc osiąnąc większe zyski. fundusze moźna podzielić na trzy kategorie: niskiego ryzyka, śreniego ryzyka i wysokiego ryzyka. im wyższe ryzyko, tym ewentualnie wyższe zyski. Iwestowanie w fundusze to ulokowanie środków finansowych na wybrany okres czasu, który zależy od tego jakie chcemy zrealizować marzenia i jakie osiągnąć zyski. ................ Kto nie ryzykuje ten nie pije szampana..........
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Elżbieta Burlińska</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Gdy pieniądze w fundusze inwestujesz, z miesiąca na miesiąca coraz więcej zyskujsz, gdyż specjaliści o powierzony im kapitał dbają i efektywnie finansami klientów zarządzają. Jeśli myślisz o bliskich i swojej przyszłości, inwestuj w fundusze, a życie nabierze lepszej jakości!

                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Sandra Bedanarz</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Inwestowanie w fundusze to nic innego jak inwestowanie,które po jakimś czasie się zwróci z zyskiem.Inwestując w ziemię i kupując hektary po latach możemy zostać milionerami o ile działka będzie położona blisko dogodnej lokalizacji takiej jak: miasto.Inwestowanie w fundusze to zabezpieczenie również na życie,dzięki czemu będziemy mogli żyć godni i nie będziemy musieli martwić się o jutro.Zainwestowane fundusze przyniosą Nam zysk,a My będziemy zabezpieczeni.
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Marcin Goliński</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Fundusze inwestycyjne to ulepszona wersja "świnki skarbonki". Środki tam odłożone rosną dzięki mądrym ludziom, którzy w rozsądny sposób je inwestują. Nawet małe kwoty, systematycznie tam wkładane pozwolą w przyszłości na spełnienie małych, jaki i dużych marzeń. Pieniądze zgromadzone w funduszach dostępne są w każdej chwili co może pozwolić na uratowanie życia nie jednej "śwince skarbonce".
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Agnieszka Dec</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Tak jak Ty potrzebujesz czasu żeby urosnąc, tak i fundusze-czyli pieniądze które tam są też potrzebują czasu żeby było ich więc .Wszystko potrzebuje czasu cierpliwości i swoistego" podlewania"jak roslinki.Dla ciebie takim podlewaniem jest dobra dieta,sport,zabwa.dla funduszy to odpowiedni rodzaj -taki level w grze im wyższy level-trudniejszy dłużej musisz grać,czasem po drodze coś tracisz ale upór konsekwencja i czas pozwalają cieszyć zwycięstwem w funduszach to wzrost wartośc czyli zysk.
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Wojciech Juncewicz</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    polega na zaangażowaniu posiadanej określonej kwoty pieniędzy na określony czas, aby w przyszłości otrzymać ich zwrot powiększony z tytułu: upływu czasu, na jaki zdecydowaliśmy się dokonać inwestycji i ryzyka z tytułu dokonania tego.
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Elżbieta Kuzyk-bogusiewicz</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Inwestowanie to magiczna skarbonka wkładamy do niej pieniądze cierpliwie czekamy, w tym czasie skarbonka rośnie a wraz z nią włożone pieniądze. Czym dłużej czekamy tym więcej ze skarbonki wyciagamy.
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Karol Wilczyński</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Fundusik to jest taka skarbonka do której wrzucasz co jakiś czas pieniążek który dostajesz od babci, kieszonkowe, reszta której nie oddasz mamie po zakupach, ale tylko tak po którą się nie upomni! No więc wkładasz do tej skarbonki na jakiś czas, aż uzbiera ci się tylko ile potrzebujesz żeby kupić tego maxitronsformerona z tv. To że ty dokładasz do to nie wszystko bo niewidzialna ręka (tatusia) dokłada tam po troszku lub więcej w zależności od sytuacji jaka jest w domku, i skarbonka zapełnia się.
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Tomasz Ślebioda</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Chcesz z klocków "lego" zbudować miasto. Twoje kieszonkowe nie pozwala ci na kupno całego zestawu jednorazowo, ale pieniądze dostajesz od rodziców każdego tygodnia. Kupujesz więc kolejno planszę, potem domki, samochodziki, znaki drogowe, zwierzątka, ludziki. Po każdym zakupie składasz klocki i je ustawiasz na planszy. Po jakimś czasie masz już całe miasto, a koledzy ci zazdroszczą. Na tym polega systematyczne oszczędzanie w funduszach. Wiesz co chcesz i stopniowo to budujesz.
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Agnieszka Bukała</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Z inwestowaniem w fundusze jest tak jak z robieniem pizzy. Aby ją zrobić potrzebna są nam pojedyncze składniki, a dopiero gdy je połączymy i włożymy do piekarnika, powstaje pyszna pizza gotowa do zjedzenia. Tak jest też z inwestowaniem. Musimy połączyć nieco środków pieniężnych (tak jak te składniki na pizzę) i przekazać do odpowiedniego miejsca, tu będą to właśnie te fundusze (w naszym pieczeniu pizzy był to piekarnik) i tam nasze środki po określonym czasie powinny urosnąć.
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Dorota Płukarska</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Inwestowanie jest wtedy, gdy tatuś daje Ci 10zł kieszonkowego, a Ty kupisz sobie trzy batoniki, każdy po 3zł. Z trzech batoników zostały Ci trzy papierki, które możesz wymienić w kinie na bilety. Tym sposobem zainwestowałeś w przyjemność, która zwróciła się w postaci biletów do kina!
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Iwona Matelska</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Kochanie, bardzo lubisz szarlotkę prawda? :) Z inwestowaniem w fundusze jest jak z robieniem szarlotki. Babcia dała nam przepis, dzięki niemu wiemy, które składniki połączyć. Tatuś pojechał do sklepu i kupił składniki, a mamusia razem z Tobą je połączyła. Teraz wsadzimy ciasto do pieca i poczekamy na to, czy się uda. Może urosnąć, ale może również stać się zakalcem. Podobnie ludzie inwestują pieniążki w fundusze, każdy daje coś od siebie, aby zyskać. Zdarza się jednak, że ktoś traci.
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Katarzyna Pawluś</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Wyobraź sobie,że masz kilka ziarenek.Każdym z nich możesz płacić np.w sklepie.Co chwilę dostajesz nowe ziarenka za swoją pracę i w końcu masz tyle ziarenek,że część z nich siedzi w domu nieużywana.Wtedy możesz je zainwestować w fundusze,czyli oddać je w ręce,które się nimi zaopiekują w taki sposób,że ziarenka się pomnożą.Musisz tylko pamiętać,by czasem sprawdzać jak się mają,a kiedy zdecydujesz,że chcesz mieć je znowu otrzymasz je w zwiększonej ilości,dzięki czemu kupisz sobie to o czym marzysz!
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Beata Michalik</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Inwestowanie jest to odkładanie części pieniędzy po to ,żeby było ich więcej. Np. jeżeli zaczniemy odkładać pieniądze regularnie czyli w dzień wypłaty ustaloną kwotę to co miesiąc będzie ich co raz więcej. A zbierając pieniądze przez np. 15 lat lat można je zainwestować w naukę czyli opłacić studia , książki i inne różne rzeczy które potrzebne są do szkoły
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Małgorzata Borowska</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Inwestowanie w fundusze jest jak budowanie z klocków samochodu. Trwa długo i powoli. Kupujemy i składamy klocki różnego rodzaju - mocne, takie z których budujemy silnik, i lekkie i kruche, z których budujemy szyby i lusterka. Każde są ważne w naszym dziele. Dokupujemy klocki, jak fundusze. Po kilku latach mamy trochę takich, trochę innych. A jak dobrze wybraliśmy to okazuje się że nasz samochód z klocków staje się prawdziwym samochodem. Dobre decyzje dziś dają dobre rezultaty w przyszłości.
                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="winner">
                                <h3>Agnieszka Głos</h3>
                                <button class="show-answer" data-toggle="modal" data-target="#modal-show-answer">Zobacz odpowiedź</button>
                                <div class="answer">
                                <p>
                                    Kochanie wyobraź sobie - małą gałkę śniegu - turlasz ją po ziemi i ona cały czas rośnie i rośnie i rośnie.. po jakimś czasie gałka jest już olbrzymią kulą śnieżną. Tak samo jest z inwestowaniem w fundusze.. Wpłacasz malutką kwotę a ona z biegiem czasu powiększa się i powiększa i dzięki temu mamy w domu więcej pieniążków - przez co mogę spełniać Twoje marzenia!
                                </p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="item fix-col">
                    <img data-toggle="popover" data-placement="right" data-html="true" data-content="<div class='tooltip-thumb'><img src='/img/big-kalendarz.jpg'></div>" src="/img/kalendarz.png">
                    <p><strong>UniKalendarz</strong> na rok 2016<br>oraz <strong>gadżety biurowe</strong></p>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="modal-show-answer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
            	<div class="modal-answer"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function() {
        $('.winner').each(function(index) {

            var itemAnswer = $(this).find('.answer');
            var itemAnswerContent = itemAnswer.html();
            var itemButton = $(this).find('.show-answer');
            var modalContent = $('.modal-answer');

            itemButton.click(function(){
                modalContent.empty();
                modalContent.append(itemAnswerContent);
            });

        });


        });
</script>