<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Cms Driim">
        <meta name="author" content="Driim">
        <?php echo $this->headTitle('Logowanie - CMS Driim ')->setSeparator(' - '); ?>
        
        
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/css/bootstrap/bootstrap.min.css')
                ->appendStylesheet($this->basePath() . '/css/bootstrap/signin.css')
                ->appendStylesheet($this->basePath() . '/css/style.css');
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()->prependFile($this->basePath() . '/js/bootstrap/jquery.js')
                ->appendFile($this->basePath() . '/js/bootstrap/bootstrap.min.js')
                ->appendFile($this->basePath() . '/js/jquery.validate.min.js')
                ->appendFile($this->basePath() . '/js/localization/messages_pl.js')
                ->appendFile($this->basePath() . '/js/jquery.validate-add.js');
        ?>


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body>
        <div data-role="page"  id="page">
           
            <div class="container">
                <?php echo $this->content; ?>
            </div> <!-- /container -->
        </div>
    </body>
</html>