<?php
    $link = $this->serverUrl() . $this->url('zfcuser/verify_email', array('userId' => $user->getId(), 'token' => $registrationRecord->getToken()));
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>HaQuiz!</title>
    </head>
    <body>
        <table style="max-width: 550px; width: 100%; font-family: 'Open Sans'" cellpadding="0" cellspacing="0">
            <tr>
                <td style="text-align: right;">
                    <img src="<?php echo $this->serverUrl(); ?>/img/logo_mail.jpg" style="display: inline-block; margin: 0;" />
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <span style="color: black; font-size: 18px; font-weight: 600;">Witamy w ha!QUIZ</span>
                </td>
            </tr>
            <tr>
                <td style="padding: 40px 25px;">
                    <span style="color: rgb(128, 128, 128); font-size: 14px;">Szanowny Użytkowniku / Szanowna Użytkowniczko, dziękujemy za rejestrację. Aby aktywować swoje konto potwierdź rejestrację.</span>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <a href="<?php echo $link ?>" style="background: #ed6e2f; color: #ffffff; border: 1px solid #ed6e2f; white-space: normal; padding: 5px 30px; text-transform: uppercase; font-size: 15px; font-weight: bold; text-decoration: none; border-radius: 5px;">POTWIERDZAM</a>
                </td>
            </tr>
            <tr>
                <td style="padding: 40px 25px 20px;">
                    <span style="color: rgb(128, 128, 128); font-size: 14px;">Ta wiadomość została wysłana tylko i wyłącznie na Twój adres email.</span>
                </td>
            </tr>	
            <tr>
                <td style="padding: 0px 25px 20px;">
                    <span style="color: rgb(128, 128, 128); font-size: 14px;">Jeśli otrzymałeś tę wiadomość bez składania prośby oznacza to, że ktoś zrobił to za Ciebie – prosimy o zignorowanie i skasowanie tej wiadomości.</span>
                </td>
            </tr>
            <tr>
                <td style="padding: 0 25px; text-align: right;">
                    <span style="color: black; font-size: 14px; font-weight: 600;">Zespół ha!QUIZ</span>
                </td>
            </tr>

        </table>
    </body>
</html>

