<?php $element = $this->element; 
$class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
?>
<div class="form-group">
    <label class="sr-only"><?php echo $this->label; ?></label>
    <input type="text" class="form-control <?php echo $class; ?>" name="<?php echo $element->getName(); ?>" value="<?php echo $element->getValue(); ?>"  placeholder="<?php echo $this->label; ?>">
</div>