<section id="quiz" class="sign-in">
    <div class="quiz-container container">
        <div class="lead">
            <h1 class="lead-title">SIGN IN</h1>
            <h2 class="lead-subtitle">Use your account on:</h2>
        </div>

        <div class="social-sign-in">
            <a id="linkedin" data-category="Social" data-action="Login" data-name="linkedIn"  href="<?php echo $this->url('scn-social-auth-user/login/provider',
    array('provider' => 'linkedIn')).$this->redirect; ?>" class="js-ga-btn btn"><i class="fa fa-linkedin"></i></a>
            <a id="facebook" data-category="Social" data-action="Login" data-name="facebook"  href="<?php echo $this->url('scn-social-auth-user/login/provider',
    array('provider' => 'facebook')).$this->redirect; ?>" class="js-ga-btn btn"><i class="fa fa-facebook"></i></a>

            <a id="twitter" data-category="Social" data-action="Login" data-name="twitter"  href="<?php echo $this->url('scn-social-auth-user/login/provider',
    array('provider' => 'twitter')).$this->redirect; ?>" class="js-ga-btn btn"><i class="fa fa-twitter"></i></a>
            <a id="google-plus" data-category="Social" data-action="Login" data-name="google-plus"  href="<?php echo $this->url('scn-social-auth-user/login/provider',
    array('provider' => 'google')).$this->redirect; ?>" class="js-ga-btn btn"><i class="fa fa-google-plus"></i></a>

        </div>


    </div>
</section>