<?php
if (!$this->enableRegistration) {
    print "Registration is disabled";
    return;
}
$form = $this->registerForm;
$form->prepare();
$form->setAttribute('action', $this->url('zfcuser/register'));
$form->setAttribute('method', 'post');
$form->setAttribute('id', 'register');
$form->setAttribute('class', 'formRegistration form-quiz');
?>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">Zarejestruj przez email</h1>
            </div>
            <div class="col-xs-12">
                <?php echo $this->form()->openTag($form);?>
                    <?php foreach ($form->getSortedElements() as $nameElement => $partial): ?>
                        <?php
                        $element = $form->get($nameElement);
                        $this->formRow()->setPartial($partial);
                        echo $this->formRow($element) . PHP_EOL;
                        ?>
                    <?php endforeach ?>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-quiz">Zarejestruj mnie</button>
                    </div>
                <?php echo $this->form()->closeTag() ?>
            </div>
            <div class="col-xs-12">
                <a data-ajax="false" href="<?php echo $this->url('scn-social-auth-user/login/provider', array('provider' => 'facebook'))?>" class="fb-link">
                    <img src="/img/fb.png" alt="Facebook" />
                    Zaloguj przez facebook
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).one('pagecontainerchange',function() {
        $(".formRegistration").validate({
            ignore: "",
            errorElement: "label",
//            errorPlacement: function(error, element) {
//                if (element.attr("id") == "ruleAdult" || element.attr("id") == "rulePersonalData") {
//                    var parentDd = element.parents("div.col-sm-10").first();
//                }
//                //parentDd.append(error);
//                error.append(element);
//            },
            rules: {
                passwordVerify: {equalTo: "form.formRegistration input[name=password]"},
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: '<?php echo $this->url('checkemail', array()); ?>',
                        type: "post"
                    }
                }
            },
            messages: {
                email: {
                    remote: "Podany e-mail już istnieje w systemie"
                }
            }
        });
    });
</script>