<div class="tabbable"> 
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab1"><i class="glyphicon glyphicon-list"></i> Rola - <?php echo $this->role->getName();?></a></li>
    </ul>          
    <div class="tab-content" style="margin-top: 15px;">
        <div id="tab1" class="tab-pane active">
            <div class="container">
                <?php
                $form = $this->form;
                //$form->setAttribute('action', $this->url('cms/default', array('action' => 'save','controller'=>"content", 'nodeId'=>$form->get('nod_id')->getValue())));
                $form->setAttribute('class', 'form-horizontal bs-example');
                $form->setAttribute('role', 'form');
                $form->setAttribute('id', 'form');
                $form->setAttribute('action', $this->url(null,array(),array(),true));
                $form->prepare();

                echo $this->form()->openTag($form) . PHP_EOL;
                foreach ($form->get('role')->getElements() as $element):
                    $this->formRow()->setPartial($element->getOption('partial'));
                    echo $this->formRow($element) . PHP_EOL;
                endforeach;
                ?>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <div class="form-buttons">
                            <button type="submit" class="btn btn-default">Zapisz</button>
                            <a href="<?php echo $this->url('admin/roles',array()); ?>" class="btn">Anuluj</a>
                        </div>
                    </div>
                </div>
                <?php
                echo $this->form()->closeTag($form) . PHP_EOL;
                ?>
                
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {


        $("#form").validate({
            ignore: "",
            errorElement: "label",
            errorPlacement: function(error, element) {
                var parentDd = element.parents("div.form-group").first();
                //error.insertAfter(parentDd);
                parentDd.append(error);
                //error.append(parentDd);
            }
        });
    });
</script>