<div class="tabbable"> 
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab1"><i class="glyphicon glyphicon-list"></i> Role</a></li>
    </ul>          
    <div class="tab-content">
        <div id="tab1" class="tab-pane active">
            <div class="container">
                <table class="table ">
                    <thead>
                        <tr>
                            <td>Id.</td>
                            <td>Role</td>
                            <td>Akcja</td>
                        </tr>
                    </thead>
                    <tbody>
                        <?php if ($this->roles): ?>
                            <?php foreach($this->roles as $role): ?>
                                
                                <tr>
                                    <td><?php echo $role->id; ?></td>
                                    <td><?php echo $role->getName(); ?></td>
                                    <td>
                                        <a title="Edytuj" class="btn btn-default" href="<?php echo $this->url('admin/permissions', array('action' => 'index', 'roleId' => $role->id)); ?>">Uprawnienia</a>
                                        <a title="Edytuj" class="btn btn-default" href="<?php echo $this->url('admin/roles', array('action' => 'edit', 'roleId' => $role->id)); ?>"><i class="glyphicon glyphicon-edit"></i></a>
                                        <a title="Usuń" class="btn btn-danger jDeleteRole" href="<?php echo $this->url('admin/roles', array('action' => 'delete','roleId' => $role->id)); ?>"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <tr>
                                <td>Brak danych</td>
                            </tr>
                        <?php endif; ?>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>