<?php $element = $this->element; 
$class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
?>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-default <?php echo $class; ?>"><?php echo $element->getValue(); ?></button>
    </div>
</div>