<?php $element = $this->element; 
    $class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
 ?>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <?php /*<input type="hidden" name="<?php echo $element->getName(); ?>" value="<?php echo $element->getOption('unchecked_value');?>">  */?>
            <input id="<?php echo $element->getName(); ?>" class="<?php echo $class; ?>" type="checkbox" name="<?php echo $element->getName(); ?>" value="<?php echo $element->getOption('checked_value');?>"> 
            <?php echo $this->label; ?>
        </div>
    </div>
</div>


