<?php $element = $this->element; 
$class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
?>
<div class="form-group">
    <label class="col-md-2 control-label"><?php echo $this->label; ?></label>
    <div class="col-md-5">
       
        <div class="thumbnail" style="width: 181px;">
            <?php if($element->getValue()!=""): ?>
                <img  src="<?php echo $element->getValue(); ?>" />
            <?php else: ?>
                <img  data-src="holder.js/171x150" alt="..."/>
            <?php endif; ?>
        <input class="modalFile <?php echo $class; ?>" type="hidden" name="<?php echo $element->getName(); ?>" id="fileManager_<?php echo $element->getName(); ?>" value="<?php echo $element->getValue(); ?>"  >
        <div class="caption">
                <a href="#" class="selectImage fileManagerButton_<?php echo $element->getName(); ?> btn btn-primary">Wybierz</a>
            
                <a  href="#" class="removeImage_<?php echo $element->getName(); ?> btn btn-default <?php if($element->getValue()==""){ echo 'hidden';} ?>">Usuń</a>
            
        </div>
      </div>
    </div>
</div>
<script>
    $('.fileManagerButton_<?php echo $element->getName(); ?>').fancybox({
            'type' : 'iframe',
            'autoScale' : true,
            'href' : '/js/tinymce/plugins/filemanager/dialog.php?type=1&editor=mce_0&lang=pl&fldr=&field_id=fileManager_<?php echo $element->getName(); ?>',
            'afterClose' : function(){ 
                var objTmp = $('#fileManager_<?php echo $element->getName(); ?>');
                if(objTmp.val()!=''){
                    var tmpImg = objTmp.parent().find('img');
                    tmpImg.photohelper({
                       'path' : objTmp.val(),
                       'type' : 'resize',
                       'size' : '171x180'
                    });
                    //console.log($(this).parent('.thumbnail').find('.removeImage'));
                    objTmp.parent().find('.removeImage').removeClass('hidden');
                 }
                }
            });
            
          $('.removeImage_<?php echo $element->getName(); ?>').click(function(){
                var tmpImpg = $(this).parent().parent().find('img');
                tmpImpg.removeAttr('src');
                tmpImpg.attr('data-src',"holder.js/171x150");
                $('#fileManager_<?php echo $element->getName(); ?>').val('');
                $(this).addClass('hidden');
                Holder.run();
                return false;
          });
</script>