<?php $element = $this->element;
$class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
?>
<div class="form-group">
    <label class="col-md-2 control-label"><?php echo $this->label; ?></label>
    <div class="col-md-5">
      <?php foreach($element->getValueOptions() as $keyoption=>$option) : ?>
        <label class="radio-inline">
          <input class="<?php echo $class; ?>" type="radio" <?php echo ($element->getValue()==$keyoption) ? 'checked="checked"' : '' ?> name="<?php echo $element->getName(); ?>" value="<?php echo $keyoption; ?>"> <?php echo $option; ?>
        </label>
        <?php endforeach; ?>
    </div>
</div>

