<?php $element = $this->element;
$class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
?>
<div class="form-group">
    <label class="col-md-2 control-label"><?php echo $this->label; ?></label>
    <div class="col-md-5">
        <select name="<?php echo $element->getName(); ?>" class="form-control <?php echo $class; ?>">
            <option value=""><?php echo $element->getEmptyOption();?></option>
            <?php foreach($element->getValueOptions() as $select) : ?>
            <option <?php if($element->getValue()==$select['value'] ){ echo 'selected="selected"';} ?> value="<?php echo $select['value']; ?>"><?php echo $select['label']; ?></option>
            <?php endforeach; ?>
         </select>
    </div>
</div>

