<?php $element = $this->element;
$class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
?>
<div class="form-group">
    <label class="col-md-2 control-label"><?php echo $this->label; ?></label>
    <div class="col-md-5">
        <select name="<?php echo $element->getName(); ?>" class="form-control <?php echo $class; ?>">
            <?php foreach($element->getValueOptions() as $keyoption=>$option) : ?>
            <option <?php if($element->getValue()==$keyoption ){ echo 'selected="selected"';} ?> value="<?php echo $keyoption; ?>"><?php echo $option; ?></option>
            <?php endforeach; ?>
         </select>
    </div>
</div>

