<?php $element = $this->element; 
$class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
$value = $element->getValue();
if(is_object($value)){
    $value = $value->format("H:i");
}
?>
<div class="form-group">
    <label class="col-md-2 control-label"><?php echo $this->label; ?></label>
    <div class="col-md-5">
         <div class="input-group bootstrap-timepicker">
            <input  type="text" class="timepicker form-control input-small <?php echo $class; ?>" value="<?php echo $value; ?>"  name="<?php echo $element->getName(); ?>"  placeholder="<?php echo $this->label; ?>">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
    </div>
</div>

<script>    
$(function() {
    $(".timepicker").timepicker({
        minuteStep: 15,
        showMeridian: false,
        defaultTime: '21:00'
    });
});
</script>