<?php $element = $this->element; 
$class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
?>
<div class="form-group">
    <label class="col-md-2 control-label"><?php echo $this->label; ?></label>
    <div class="col-md-6">
        <textarea class="form-control tinymce_<?php echo $element->getName(); ?> <?php echo $class; ?>" name="<?php echo $element->getName(); ?>" placeholder="<?php echo $this->label; ?>" rows="3"><?php echo $element->getValue(); ?></textarea>
    </div>
</div>

<script>
tinymce.init({
    selector: ".tinymce_<?php echo $element->getName(); ?>",
    theme: "modern",
    language : "pl",
    width: 570,
    height: 300,
    plugins: [
         "filemanager advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
         "save table contextmenu directionality emoticons template paste textcolor"
   ],
   relative_urls: false,
   toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview  fullpage | forecolor backcolor emoticons", 
   /*file_browser_callback: function(field_name, url, type, win) { 
        win.document.getElementById(field_name).value = 'my browser value'; 
    },*/
    //image_advtab: true, 

   style_formats: [
        {title: 'Bold text', inline: 'b'},
        {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
        {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
        {title: 'Example 1', inline: 'span', classes: 'example1'},
        {title: 'Example 2', inline: 'span', classes: 'example2'},
        {title: 'Table styles'},
        {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
    ],
    setup : function(ed) {
        ed.on('change', function(e) {
            ed.save();
        });
    }
 }); 
</script>
