index
<span class="countdown"></span>
<script>
        if($('.countdown').length > 0){
            $('.countdown').countdown('destroy');
        }
        $('.countdown').countdown({until: +10, format: 'MS',
            layout: '{mn}:{snn}',
        });
    
        
 </script>