<?php 
    $node = $this->nodetree['node']; 
    $nodeLang = $node->getNodeLang();
    $children = $this->nodetree['children'];
    
    $status = $nodeLang->status;
    if($status=="ACTIVE"){
        $classStatus = 'btn-primary';
    }else{
        $classStatus = 'btn-danger';
    }
    
    $spanType = '';
    if($node->type==\App\Models\Entity\Node::TYPE_LIST){
        $spanType = '<i class="glyphicon glyphicon-list"></i>';
    }elseif($node->type==\App\Models\Entity\Node::TYPE_PAGE){
        $spanType = '<i class="glyphicon glyphicon-file"></i>';
    }
    //$nodeLang = $this->node->getNodeLang(); 
?>

<?php if(count($children)): ?>
        <span><i class="glyphicon glyphicon-collapse-down"></i></span>
    <?php else: ?>
        <span><i class="glyphicon glyphicon-leaf"></i></span>  
    <?php endif; ?>
        
<?php if($node->type != App\Models\Entity\Node::TYPE_EMPTY ): ?>        
    <a class="btn <?php echo $classStatus ?>" href="<?php echo $this->url('cms/default',array('controller'=>"content","action"=>'node','nodeId'=>$node->id,'lang'=>$nodeLang->lang)); ?>">
    <?php echo $spanType ?> <?php echo $nodeLang->getTitle(); ?></a>
<?php else: ?>
        <a class="btn <?php echo $classStatus ?>"><?php echo $spanType ?> <?php echo $nodeLang->getTitle(); ?></a>
<?php endif; ?>

