<ul>
<?php foreach($this->container as $page): ?>
    <li>
        <?php echo $page->getLabel(); ?>
        
        <?php 
        if($page->hasPages()): ?>
            <ul>
            <?php foreach($page as $pagechild): ?>
                    <li><?php echo $pagechild->getLabel(); ?>
                        <?php $tree =$pagechild->get('tree');
                        if($tree){
                            $this->printTree($tree,'partial/permissionstree.phtml');
                        }
                        ?>
                        
                    </li>
            <?php endforeach; ?>
            </ul>
        <?php endif;?>
    </li>
<?php endforeach; ?>
</ul>
