<?php
$basUrl = $this->url("home",array(),array('force_canonical' => true));
?>
<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Free Tee 4 IT</title>
</head>

<body style="margin: 0; padding: 0; border: none;">
    <table style="width: 600px; margin: 0 auto;  border-spacing: 0px; padding:0px; font-family:Arial, Helvetica, sans-serif;" border="0" cellpadding="15" cellspacing="0" bgcolor="#1a1a1a">
    <tr><td width="600" height="30"></td></tr>
        <tr style="padding:0; margin:0;">
            <td style="border-spacing:0px; padding:0px; margin:0; text-align: center;" align="center">
                <img alt="logo" src="<?php echo $basUrl;  ?>/img/mail/logo.png" style="border: 0px; width: 190px; height:112px; margin:0; padding:0;">
            </td>
        </tr>
        <tr><td width="600" height="30"></td></tr>
        <tr style="padding:0; margin:0;">
            <td style="margin:0;">
            <h2 style="font-family:Arial, Helvetica, sans-serif; font-size:21px; text-align: left; line-height: 28px; margin:15px 0; color: #ee3f40; text-align: center;">Mission accomplished!</h2>
                <p style="font-family:Arial, Helvetica, sans-serif; font-size:16px; text-align: left; line-height: 22px; margin:0; color: #ffffff; text-align: center;">
                   Congratulations, we really appreciate your CV.<br/><br/>
                   Your T-shirt is ready to be sent. Good choice!<br/><br/>
                   Let’s stay in touch.
                </p>
                <br><br>
                <p style="font-family:Arial, Helvetica, sans-serif; font-size:16px; text-align: left; line-height: 22px; margin:0; color: #ffffff; text-align: center;">
                   Luxoft team
                </p>
            </td>
        </tr>
        <tr><td width="600" height="30"></td></tr>
       <?php /* <tr style="padding:0; margin:0;">
            <td style="margin:0;" bgcolor="#000000">
            <p style="font-family:Arial, Helvetica, sans-serif; font-size:13px; text-align: justify; line-height: 13px; margin:0; color: #939393;">
            Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi.
            </p>
            </td>
        </tr>*/ ?>
    </table>
</body>
</html>
