<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml"  >
<head>
   <title>Formularz kontaktowy</title>    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>  
Wiadomość z formularza kontaktowego<br/><br/>
    
Temat: <?php echo $this->subject; ?> <br/>
E-mail: <?php echo $this->email; ?><br/><br/>
Treść:<br/>
<?php echo $this->text; ?>

</body>
</html>