<?php if (count($this->paginator)): ?>
    <?php
    foreach ($this->paginator as $quizuser):
        $quiz=$quizuser->getQuiz();
    ?>
        <tr>      
            <td><?php echo $quizuser->getCreateDatetime()->format('d.m.Y H:i'); ?></td>
            <td><?php echo $quiz->getNrAllUsers(); ?></td>
            <td><?php echo $quiz->getNrWinners(); ?></td>
            <td><?php echo $quizuser->getNrOfLosers(); ?></td>
        </tr>
    <?php endforeach; ?>
<?php else: ?>
    <tr>
        <td colspan="4" class="text-center">Brak danych</td>
    </tr>
<?php endif; ?>