<?php
$form = $this->form;
$form->prepare();
$form->setAttribute('action', $this->url("profile/settings/changepassword", array()));
$form->setAttribute('method', 'post');
$form->setAttribute('class', 'jChangePassword form-quiz');

$emailElement = $form->get('identity');
$emailElement->setValue($this->zfcUserIdentity()->getEmail());

echo $this->form()->openTag($form);
?>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="title">Zmiana hasła do konta</h2>
        </div>
        <div class="col-xs-12 col-md-8">
            <?php echo $this->formInput($form->get('identity')); ?>
            <div class="form-group">
                <input type="password"  name="<?php echo $form->get('credential')->getName(); ?>" class="form-control required" placeholder="stare hasło">
            </div>
            <div class="form-group">
                <input type="password" name="<?php echo $form->get('newCredential')->getName(); ?>"  value="" class="form-control required" placeholder="nowe hasło">
            </div>
            <div class="form-group">
                <input type="password" name="<?php echo $form->get('newCredentialVerify')->getName(); ?>" value="" class="form-control required" placeholder="powtórz hasło">
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-quiz">Zapisz zmiany</button>
            </div>
        </div>
    </div>
<?php echo $this->form()->closeTag(); ?>

<script>
    $(document).one('pagecontainerchange',function() {
        $(".jChangePassword").validate({
            ignore: "",
            errorElement: "label"
        });
    });
</script>