<?php
$form = $this->form;
$form->prepare();
$form->setAttribute('action', $this->url("profile/settings/changeemail", array()));
$form->setAttribute('method', 'post');
$form->setAttribute('class', 'jChangeEmail form-quiz');

$emailElement = $form->get('identity');
$emailElement->setValue($this->zfcUserIdentity()->getEmail());

echo $this->form()->openTag($form);
?>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="title">Zmiana adresu e-mail</h2>
        </div>
        <div class="col-xs-12 col-md-8">
            <?php echo $this->formInput($form->get('identity')); ?>
            <div class="form-group">
                <input type="text"  id="newIdentity" name="<?php echo $form->get('newIdentity')->getName(); ?>" class="form-control required email" placeholder="nowy adres e-mail">
            </div>
            <div class="form-group">
                <input type="text" id="<?php echo $form->get('newIdentityVerify')->getName(); ?>"  value="" name="<?php echo $form->get('newIdentityVerify')->getName(); ?>" class="form-control required email" placeholder="powtórz e-mail">
            </div>
            <div class="form-group">
                <input type="password"  name="<?php echo $form->get('credential')->getName(); ?>" value="" class="form-control required" placeholder="hasło">
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-quiz">Zapisz zmiany</button>
            </div>
        </div>
    </div>
<?php echo $this->form()->closeTag(); ?>

<script>
    $(document).one('pagecontainerchange',function() {
        $(".jChangeEmail").validate({
            ignore: "",
            errorElement: "label",
            rules: {
                newIdentityVerify: {equalTo: "form.jChangeEmail input[name=newIdentity]"},
                newIdentity: {
                    required: true,
                    email: true,
                    remote: {
                        url: '<?php echo $this->url('checkemail', array()); ?>',
                        type: "post"
                    }
                }
            },
            messages: {
                newIdentity: {
                    remote: "Podany e-mail już istnieje w systemie"
                }
            }
        });
    });
</script>