<?php
$form->prepare();
$form->setAttribute('data-ajax','false');
?>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="row">
                <?php echo $this->form()->openTag($form); ?>
                <div class="col-xs-12">
                    <p>
                        <?php if($this->user->getAvatarPath()): ?>
                        <img class="img-circle img-avatar-big" src="<?php echo $this->photo($this->user->getAvatarPath(), array('crop'=>'240x240','onlypath'=>true))?>" />
                        <?php endif; ?>
                    </p>
                </div>
                <?php if($this->user->getAvatarPath()): ?>
                <div class="col-xs-12">
                    <p class="text-center">
                        <a class="btn btn-quiz" href="<?php echo $this->url('profile/settings/deleteavatar',array());?>">Usuń bieżące zdjęcie</a>
                    </p>
                </div>
                <?php endif; ?>
                <div class="col-xs-12">
                    <p class="text-center">
                        <span class="input-group-btn">
                            <span class="btn btn-quiz btn-file">
                                Wybierz z biblioteki <input type="file" name="user[avatarPath]">
                            </span>
                        </span>
                    </p>
                </div>
                <div class="col-xs-12">
                    <p class="text-center">
                        <button  type="submit" class="btn btn-quiz orange">Wyślij</button>
                        <a class="btn btn-cancel" href="<?php echo $this->url('profile/settings',array());?>">Anuluj</a>
                    </p>
                </div>
                <?php echo $this->form()->closeTag($form); ?>
            </div>
        </div>
    </div>
</div>