<?php
$form = $this->form;
$form->prepare();
$form->setAttribute('method', 'post');
$form->setAttribute('id', 'datasettings');
$form->setAttribute('class', 'jDataSettings form-quiz');
?>
<div class="row">
    <div class="col-md-4 hidden-xs hidden-sm">
        <?php echo $this->getStatWidget($this->zfcUserIdentity());?>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-7 col-md-push-1">
        <?php echo $this->form()->openTag($form); ?>
            <div class="row">
                <div class="col-xs-12">
                    <div class="player-info">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="player-avatar">
                                    <?php if($this->zfcUserIdentity()->getAvatarPath()): ?>
                                        <img class="img-circle" src="<?php echo $this->photo($this->zfcUserIdentity()->getAvatarPath(), array('crop'=>'100x100','onlypath'=>true))?>" alt="<?php echo $this->zfcUserIdentity()->getDisplayName(); ?>" />
                                        <?php else:?>
                                        <img src="/img/avatar.png" class="img-circle" alt="<?php echo $this->zfcUserIdentity()->getDisplayName(); ?>" />
                                        <?php endif; ?>
                                    <a href="<?php echo $this->url('profile/settings/changeavatar',array()); ?>" class="edit-avatar">Edytuj</a>
                                </div>
                            </div>
                            <div class="col-xs-9 col-sm-10 col-md-6 col-lg-6">
                                <?php foreach ($form->get('user')->getElements() as $element): ?>
                                    <?php
                                    $this->formRow()->setPartial($element->getOption('partial'));
                                    echo $this->formRow($element) . PHP_EOL;
                                    ?>
                                <?php endforeach ?>
                                 <div class="form-group text-center">
                                    <button type="submit" class="btn btn-quiz">Zapisz zmiany</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <?php echo $this->form()->closeTag() ?>
        <?php echo $this->changeEmail; ?>
        <?php echo $this->changePassword; ?>
        <?php echo $this->paymentdata; ?>
        
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".jDataSettings").validate({
            ignore: "",
            errorElement: "label"
        });
    });
</script>