<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <?php echo $this->getStatWidget($this->zfcUserIdentity());?>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">

        <!-- History row -->
        <div class="row jWonGame">
            <div class="col-xs-12">
                <h5 class="table-title">Gry wygrane</h5>
            </div>
            <div class="col-xs-12">
                <table class="table table-striped table-quiz table-history">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Gracze</th>
                            <th>Zwycięzcy</th>
                            <th>Wygrana</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php echo $this->listWonGame;?>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <p class="text-center">
                    <a href="<?php echo $this->url('profile/history-won-game',array()); ?>" class="btn btn-secondary jLazyLoadWonGame">POKAŻ WIĘCEJ</a>
                </p>
            </div>
        </div>
        <!-- EOF History row -->

        <div class="row jAllGame">
            <div class="col-xs-12">
                <h5 class="table-title">Gry wszystkie</h5>
            </div>
            <div class="col-xs-12">
                <table class="table table-striped table-quiz table-history">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Gracze</th>
                            <th>Zwycięzcy</th>
                            <th>Pokonani</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php echo $this->listAllGame;?>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <p class="text-center">
                    <a href="<?php echo $this->url('profile/history-all-game',array()); ?>" class="btn btn-secondary jLazyLoadAllGame">POKAŻ WIĘCEJ</a>
                </p>
            </div>
        </div>

    </div>
</div>
<script>
$(document).one('pagecontainerchange',function() {
    var pageWonGame=2;
    var pageAllGame=2;
    var loaderGif = '<div  class="jTemporaryLoader" style="width:100%; text-align: center;"><img src="/img/loader_big.gif" style="width: 35px;" /></div>';
    $('.jLazyLoadWonGame').click(function(e){
        e.preventDefault();
        var currentUrl= $(this).attr('href')+'/page/'+pageWonGame;
        var elementName=".jWonGame .table tbody";
        pageWonGame++;
        loadContent($(this),elementName,currentUrl);
    });
    
    $('.jLazyLoadAllGame').click(function(e){
        e.preventDefault();
        var currentUrl= $(this).attr('href')+'/page/'+pageAllGame;
        var elementName=".jAllGame .table tbody";
        pageAllGame++;
        loadContent($(this),elementName,currentUrl);
    });
    
    function loadContent(el, elementName,currentUrl){
        el.hide();
        el.before(loaderGif);
        $.get(currentUrl, {disablelayout: true},function( data ) {
                el.siblings('.jTemporaryLoader').remove();
                el.show();
                $(elementName).append( data );
            });
    }
    
});
</script>
    