<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <?php echo $this->getStatWidget($this->zfcUserIdentity());?>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="row">
            <div class="col-xs-12">
                <strong><a href="#lifeboats" data-toggle="collapse" aria-expanded="false" aria-controls="lifeboats" class="lifeboat-link collapsed">Jak zdobyć Koło Ratunkowe?</a></strong>
            </div>
        </div>
        <div class="row collapse" id="lifeboats">
            <div class="col-xs-12">
                <p>Koło Ratunkowe (Koło lub KR) oznacza możliwość kontynuowania udziału w grze po udzieleniu błędnej odpowiedzi. Można je zdobywać na dwa sposoby:</p>
                <p>
                    <img src="/img/lifeboat.png" class="img-responsive lifeboat-icon" alt="Koło ratunkowe" />
                    <span>jako bonus co trzecią grę, niezależnie od wyniku,</span>
                </p>
                <p>
                    <img src="/img/lifeboat.png" class="img-responsive lifeboat-icon" alt="Koło ratunkowe" />
                    <span>za polecenie osoby, która zarejestruje się i doładuje konto.</span>
                </p>
                <p>W jednej grze można wykorzystać od 0 do 3 Kół Ratunkowych.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p class="text-center extra-margin">
                    <a href="<?php echo $this->url("profile/recommend",array()); ?>" class="btn btn-quiz">POLEĆ GRĘ I ODBIERZ KOŁO RATUNKOWE</a>
                </p>
            </div>
        </div>


        <div class="row jWinLifebuoy">
            <div class="col-xs-12">
                <h5 class="table-title">Zdobyte koła ratunkowe</h5>
            </div>
            <div class="col-xs-12">
                <table class="table table-striped table-quiz table-history table-buoy">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Tytuł</th>
                            <th>Stan</th>
                        </tr>
                    </thead>
                    <tbody>
                       <?php echo $this->wonlifebuoys; ?>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <p class="text-center">
                    <a href="<?php echo $this->url('profile/lifebuoys/win', array()); ?>" class="btn btn-secondary jLazyLoadWinLifebuoy">POKAŻ WIĘCEJ</a>
                </p>
            </div>
        </div>

        <div class="row jWinLifebuoy">
            <div class="col-xs-12">
                <h5 class="table-title">Utracone koła ratunkowe</h5>
            </div>
            <div class="col-xs-12">
                <table class="table table-striped table-quiz table-history table-buoy">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Ilość</th>
                        </tr>
                    </thead>
                    <tbody>
                       <?php echo $this->lostlifebuoys; ?>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <p class="text-center">
                    <a href="<?php echo $this->url('profile/lifebuoys/lost', array()); ?>" class="btn btn-secondary jLazyLoadLostLifebuoy">POKAŻ WIĘCEJ</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
   $(document).one('pagecontainerchange',function() {
        var pageWonLifebuoy = 2;
        var pageAllGame = 2;
        var loaderGif = '<div  class="jTemporaryLoader" style="width:100%; text-align: center;"><img src="/img/loader_big.gif" style="width: 35px;" /></div>';
        $('.jLazyLoadWinLifebuoy').click(function(e) {
            e.preventDefault();
            var currentUrl = $(this).attr('href') + '/page/' + pageWonLifebuoy;
            var elementName = ".jWinLifebuoy .table tbody";
            pageWonLifebuoy++;
            loadContent($(this), elementName, currentUrl);
        });

        $('.jLazyLoadLostLifebuoy').click(function(e) {
            e.preventDefault();
            var currentUrl = $(this).attr('href') + '/page/' + pageAllGame;
            var elementName = ".jLostLifebuoy .table tbody";
            pageAllGame++;
            loadContent($(this), elementName, currentUrl);
        });

        function loadContent(el, elementName, currentUrl) {
            el.hide();
            el.before(loaderGif);
            $.get(currentUrl, {disablelayout: true}, function(data) {
                el.siblings('.jTemporaryLoader').remove();
                el.show();
                $(elementName).append(data);
            });
        }

    });
</script>