<?php if (count($this->paginator)): ?>
    <?php
    foreach ($this->paginator as $userlifebuoy):
      
    ?>
        <tr>      
            <td><?php echo $userlifebuoy->getUpdatedAt()->format('d.m.Y'); ?> <small><?php echo $userlifebuoy->getUpdatedAt()->format('H:i'); ?></small></td>
            <td><?php echo '1' ?></td>
            
        </tr>
    <?php endforeach; ?>
<?php elseif ($this->page == 1): ?>
    <tr>
        <td colspan="2" class="text-center">Brak danych</td>
    </tr>
<?php endif; ?>