
<?php
$form = $this->form;
$form->prepare();
$form->setAttribute('method', 'post');
$form->setAttribute('id', 'dataPaymentsettings');
$form->setAttribute('class', 'form-quiz jDataPaymentSettings ');
$form->setAttribute('action', $this->url("profile/settings/paymentdata", array()));
?>
<?php echo $this->form()->openTag($form); ?>
<div class="row">
    <div class="col-xs-12">
        <h2 class="title">Dane do płatności</h2>
    </div>
    <div class="col-xs-12 col-md-8">
    <?php foreach ($form->get('paymentdata')->getElements() as $element): ?>
        <?php
        $this->formRow()->setPartial($element->getOption('partial'));
        echo $this->formRow($element) . PHP_EOL;
        ?>
    <?php endforeach ?>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-quiz">Zapisz zmiany</button>
        </div>
    </div>
</div>
<?php echo $this->form()->closeTag() ?>

<script>
    $(document).one('pagecontainerchange',function() {
        $(".jDataPaymentSettings").validate({
            ignore: "",
            errorElement: "label"
        });
    });
</script>
