<?php if (count($this->paginator)): ?>
    <?php
    $currentNrOfLosers = null;
    foreach ($this->paginator as $quizWinner):
        $quiz=$quizWinner->getQuiz();
    ?>
        <tr>      
            <td><?php echo $quizWinner->getCreateDate()->format('d.m.Y H:i'); ?></td>
            <td><?php echo $quiz->getNrAllUsers(); ?></td>
            <td><?php echo $quiz->getNrWinners(); ?></td>
            <td><?php echo  $this->priceFormat($quizWinner->getRate()); ?></td>
        </tr>
    <?php endforeach; ?>
<?php else: ?>
    <tr>
        <td colspan="4" class="text-center">Brak danych</td>
    </tr>
<?php endif; ?>