<?php if (count($this->paginator)): ?>
    <?php
    foreach ($this->paginator as $eventuser):
        ?>
        <tr>
            <td><?php echo $eventuser->getCreatedAt()->format('d.m.Y'); ?> <small><?php echo $eventuser->getCreatedAt()->format('H:i'); ?></small></td>
        </td>
        <td><?php
            $condtionClassName = $eventuser->getResourceConditionName();
            $translated        = $this->translate($condtionClassName::DESC_LABEL);
            echo sprintf($translated, $eventuser->getRepeatNr());
            ?>
        </td>
        <td><?php echo $eventuser->getNrResources(); ?></td>

        </tr>
    <?php endforeach; ?>
<?php elseif ($this->page
    == 1): ?>
    <tr>
        <td colspan="3" class="text-center">Brak danych</td>
    </tr>
<?php endif; ?>