@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "font-awesome/font-awesome";
@import "awesome-bootstrap-checkbox";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,300,200|Playfair+Display:400,700,900&subset=latin,latin-ext);
$dark-text-color: #003f74;
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

.alert {
    position: fixed;
    top: 50px;
    width: 100%;
    min-height: 50px;
    display: block;
    z-index: 9;
    color: #ffffff;
    border-radius: 0;
    border: none;
    &.alert-success {
        background-color: green;
    }
    &.alert-danger {
        background-color: red;
    }
    .close {
        opacity: 1;
        color: #ffffff;
        text-shadow: none;
        &:hover {
            color: #ffffff;
        }
    }
}
.close {
    opacity: 1;
    &:hover {
        opacity: 1;
    }
}

.homepage {
    .navbar .site-name {
        display: none;
    }
}

.spinner {
    margin: 30px auto 0;
    width: 70px;
    text-align: center;
    display: none;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@mixin breakpoint($class) {
    @if $class==xs {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $class==sm {
        @media (max-width: 768px) {
            @content;
        }
    }
    @else if $class==md {
        @media (max-width: 992px) {
            @content;
        }
    }
    @else if $class==lg {
        @media (max-width: 1200px) {
            @content;
        }
    }
    @else if $class==xl {
        @media (min-width: 1400px) {
            @content;
        }
    }
    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

@mixin placeholder($color: $input-color-placeholder) {
    &::-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
    }
}

html,
body {
    height: 100%;
    padding-right: 0!important;
}

body {
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: $dark-text-color;
    font-weight: 300;
}

.modal-open {
    overflow: visible;
}

* {
    // -webkit-font-smoothing: antialiased;
}

a {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.navbar {
    background-color: #061F33;
    text-align: center;
    height: 50px;
    .site-name {
        font-family: 'Playfair Display', serif;
        float: left;
        color: #ffffff;
        font-weight: 900;
        font-size: 23px;
        padding: 10px 0;
        position: absolute;
        left: 15px;
        height: 100%;
        width: 180px;
        img {
            height: 100%;
            width: auto;
            display: block;
        }
    }
    .mobile-menu {
        display: none;
        border: none;
        color: #ffffff;
        font-size: 28px;
        position: absolute;
        right: 15px;
        top: 5px;
        padding: 0;
        z-index: 9999;
        @include transition(all 0.2s ease-in-out);
        &:hover,
        &:focus,
        &:active {
            color: #ffffff;
            background-color: transparent;
        }
        &.active {
            color: #ffffff;
        }
        @include breakpoint(xs) {
            display: block;
        }
    }
    .main-navigation {
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        @include transition(all 0.2s ease-in-out);
        @include breakpoint(xs) {
            display: none;
        }
        &.active {
            @include breakpoint(xs) {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 999;
                padding: 10px;
                background-color: rgba(20, 44, 65, 0.98);
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF021a2c, endColorstr=#FF021a2c);
                li {
                    display: block;
                    a {
                        width: 100%;
                        padding: 10px;
                        color: #ffffff;
                    }
                }
            }
        }
        li {
            display: inline-block;
            list-style: none;
            padding: 0;
            margin: 0;
            &.active {
                a {
                    font-weight: 900;
                }
            }
            a {
                padding: 15px 15px;
                display: block;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 600;
            }
        }
    }
}

.container {
    position: relative;
    z-index: 2;
}

.main-logo {
    @include make-xs-column(12);
    @include make-sm-column(8);
    @include make-md-column(6);
    @include make-lg-column(6);
    @include make-xs-column-offset(0);
    @include make-sm-column-offset(2);
    @include make-md-column-offset(3);
    @include make-lg-column-offset(3);
    margin-top: 90px;
    margin-bottom: 30px;
    img {
        width: 100%;
        height: auto;
    }
}

.gallery {
    .icon01 {
        left: 4%!important;
    }
    .icon02 {
        left: 8%!important;
    }
    .icon03 {
        top: 370px!important;
        left: -5%;
    }
    .icon04 {
        display: none!important;
    }
    .icon05 {
        left: 90%!important;
    }
    .icon06 {
        top: 760px!important;
        left: 1%!important;
    }
    .icon07 {}
    .icon08 {
        display: none!important;
    }
    .icon09 {
        transform: scale(-1, 1) rotate(90deg);
        top: 280px!important;
        left: 90%!important;
    }
    .icon10 {
        top: 600px!important;
        left: 10%!important;
    }
    .icon11 {
        top: 570px!important;
        right: -2%!important;
    }
    .gallery-wrap {
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(12);
        @include make-lg-column(12);
        padding-bottom: 120px;
        float: left;
    }
    .gallery-title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 48px;
        margin-bottom: 20px;
    }
    .gallery-lead {
        font-size: 20px;
        line-height: 24px;
    }
    .tab-nav {
        padding: 20px 0 60px 0;
        margin: 0;
        li {
            list-style: none;
            display: inline-block;
            text-align: left;
            margin: 0 15px;
            &.active {
                .btn {
                    background-color: #ffffff;
                    color: $dark-text-color;
                }
            }
        }
    }
    .load-more {
        width: 100%;
        display: block;
        float: left;
        clear: both;
        .btn {
            margin-top: 30px;
            font-size: 16px;
            padding: 10px 20px;
        }
    }
    .text-pane {
        .text-item {
            text-align: left;
            .item-data {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(4);
                @include make-lg-column(4);
                padding-bottom: 15px;
                .fix-position {
                    position: relative;
                    text-align: right;
                    padding-top: 20px;
                    .name {
                        font-size: 21px;
                        // font-family: 'Playfair Display', serif;
                    }
                    .date {
                        font-size: 18px;
                        font-weight: 900;
                    }
                }
            }
            .text-content {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(8);
                @include make-lg-column(8);
                position: relative;
                cursor: pointer;
                margin-bottom: 30px;
                .angle {
                    position: absolute;
                    top: 50%;
                    right: 40px;
                    font-size: 31px;
                    margin-top: -25px;
                    color: #ffffff;
                }
                &.collapsed {
                    .wrap {
                        background-color: rgba(20, 44, 65, 0.7);
                        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF021a2c, endColorstr=#FF021a2c);
                        p {
                            margin: 0;
                            padding: 0;
                            color: #ffffff;
                        }
                        .intro {
                            display: inline;
                        }
                    }
                    .angle {
                        color: #ffffff;
                        @include transform(rotate(0deg));
                    }
                }
                .wrap {
                    background-color: #ffffff;
                    padding: 20px 80px 20px 20px;
                    min-height: 88px;
                    @include transition(all 0.2s ease-in-out);
                    p {
                        margin: 0;
                        padding: 0;
                        line-height: 28px;
                        font-size: 20px;
                        color: #003f74;
                        // display: inline;
                    }
                    .intro {
                        display: none;
                    }
                    .more.collapse {}
                    .more.collapse.in {
                        display: inline;
                    }
                }
                .angle {
                    color: #003f74;
                    @include transform(rotate(180deg));
                }
            }
        }
    }
    .video-pane {
        .video-item {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(4);
            @include make-lg-column(4);
            position: relative;
            padding: 0;
            background-color: rgba(2, 26, 44, 0.8);
            @include transition(all 0.2s ease-in-out);
            img {
                width: 100%;
                height: auto;
            }
            &:hover {
                .item-data {
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }
            .item-data {
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.8);
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF021a2c, endColorstr=#FF021a2c);
                width: 100%;
                height: 100%;
                padding: 15px;
                text-align: left;
                cursor: pointer;
                @include transition(all 0.2s ease-in-out);
                .play {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 2px solid #ffffff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -25px;
                    margin-left: -25px;
                    font-size: 23px;
                    padding: 7px 16px;
                }
                .name {
                    position: absolute;
                    bottom: 15px;
                    font-size: 21px;
                    // font-family: 'Playfair Display', serif;
                }
                .date {
                    position: absolute;
                    bottom: 40px;
                    font-size: 18px;
                    font-weight: 900;
                }
            }
        }
    }
}

.rules {
    .icon01 {
        top: 120px!important;
    }
    .icon02 {
        display: none!important;
    }
    .icon03 {
        top: 280px!important;
        left: -5%!important;
    }
    .icon04 {
        display: none!important;
    }
    .icon05 {
        left: 85%!important;
    }
    .icon06 {
        display: none!important;
    }
    .icon07 {
        top: 180px!important;
    }
    .icon08 {
        display: none!important;
    }
    .icon09 {
        transform: scale(-1, 1) rotate(90deg);
        top: 280px!important;
    }
    .icon10 {
        left: 5%!important;
        top: 500px!important;
    }
    .icon11 {
        top: 540px!important;
    }
    .rules-wrap {
        padding: 0 30px;
    }
    min-height: 600px!important;
    padding-bottom: 50px;
    &.congrats {
        min-height: 240px!important;
    }
    .rules-title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 36px;
        margin-bottom: 50px;
    }
    .rules-lead {}
    .steps {
        text-align: left;
        font-size: 20px;
        line-height: 24px;
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(8);
        @include make-lg-column(5);
        @include make-xs-column-offset(0);
        @include make-sm-column-offset(0);
        @include make-md-column-offset(2);
        @include make-lg-column-offset(3.5);
        counter-reset: my-counter;
        li {
            list-style: none;
            position: relative;
            margin-bottom: 10px;
            padding-left: 25px;
            &:before {
                content: counter(my-counter)".";
                counter-increment: my-counter;
                font-weight: 900;
                position: absolute;
                left: 0;
            }
        }
    }
}

.msg {
    margin-bottom: -50px;
    .icon05 {
        display: none!important;
    }
    .icon06 {
        display: none!important;
    }
    .msg-wrap {
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(8);
        @include make-lg-column(6);
        @include make-xs-column-offset(0);
        @include make-sm-column-offset(0);
        @include make-md-column-offset(2);
        @include make-lg-column-offset(3);
    }
    .msg-title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 48px;
        margin-bottom: 20px;
    }
    .msg-lead {
        font-size: 20px;
        line-height: 24px;
    }
}
.home {
    @include breakpoint(lg) {
        .icon06 {
            display: none!important;
        }
        .icon05 {
            display: none!important;
        }
        .icon02 {
            display: none!important;
        }
        .icon06 {
            display: none!important;
        }
    }
}
.home,
.gallery,
.rules,
.msg {
    background-image: url('/img/main-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 90px;
    text-align: center;
    color: #ffffff;
    position: relative;
    min-height: 100%;
    overflow: hidden;
    @include breakpoint(xs) {
        background-image: none;
        background-color: #1d3d57;
    }
    @include breakpoint(md) {
        padding-top: 80px;
    }
    .woman {
        background-image: url('/img/woman.png');
        width: 400px;
        height: 673px;
        bottom: -150px;
        left: -50px;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        z-index: 2;
        position: fixed;
        @include breakpoint(md) {
            display: none;
        }
    }
    .kid {
        background-image: url('/img/kid.png');
        width: 396px;
        height: 610px;
        bottom: -150px;
        right: 0;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        z-index: 2;
        position: fixed;
        @include breakpoint(md) {
            display: none;
        }
    }
    .home-icon {
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        position: fixed;
        z-index: 1;
        @include breakpoint(md) {
            opacity: 0.2;
        }
        @include breakpoint(xs) {
            display: none;
        }
    }
    .icon01 {
        background-image: url('/img/icon01.png');
        width: 117px;
        height: 77px;
        top: 60px;
        left: 12%;
        transform: rotate(-45deg);
    }
    .icon02 {
        background-image: url('/img/icon02.png');
        width: 145px;
        height: 121px;
        top: 150px;
        left: 18%;
    }
    .icon03 {
        background-image: url('/img/icon03.png');
        width: 139px;
        height: 136px;
        top: 170px;
        left: 0%;
    }
    .icon04 {
        background-image: url('/img/icon04.png');
        width: 52px;
        height: 136px;
        top: 410px;
        left: 20%;
        transform: rotate(25deg);
    }
    .icon05 {
        background-image: url('/img/icon05.svg');
        width: 80px;
        height: 136px;
        top: 70px;
        left: 35%;
        transform: scale(-1, 1);
    }
    .icon06 {
        background-image: url('/img/icon06.png');
        width: 118px;
        height: 127px;
        top: 40px;
        left: 55%;
    }
    .icon07 {
        background-image: url('/img/icon07.png');
        width: 40px;
        height: 72px;
        top: 120px;
        left: 76%;
    }
    .icon08 {
        background-image: url('/img/icon08.png');
        width: 68px;
        height: 59px;
        top: 430px;
        left: 70%;
    }
    .icon09 {
        background-image: url('/img/icon09.png');
        width: 148px;
        height: 136px;
        top: 180px;
        left: 77%;
    }
    .icon10 {
        background-image: url('/img/icon10.png');
        width: 52px;
        height: 66px;
        top: 40px;
        left: 85%;
    }
    .icon11 {
        background-image: url('/img/icon11.png');
        width: 123px;
        height: 148px;
        top: 270px;
        right: 2%;
    }
    .big-title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 88px;
        background-color: #ffffff;
        display: inline-block;
        color: $dark-text-color;
        padding: 15px;
        margin: 15px 0 30px 0;
        position: relative;
        z-index: 3;
        @include breakpoint(xs) {
            font-size: 60px;
        }
    }
    .small-title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 32px;
        color: #ffffff;
        margin: 15px 0;
        position: relative;
        z-index: 3;
    }
    .lead {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        display: inline-block;
        @include make-xs-column(10);
        @include make-sm-column(8);
        @include make-md-column(6);
        @include make-lg-column(5);
        @include make-xs-column-offset(1);
        @include make-sm-column-offset(2);
        @include make-md-column-offset(3);
        @include make-lg-column-offset(3.5);
        position: relative;
        z-index: 3;
        strong {
            font-weight: 700;
        }
    }
    .select-form {
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
        z-index: 3;
        .select {
            @include make-xs-column(10);
            @include make-sm-column(4);
            @include make-md-column(3);
            @include make-lg-column(3);
            margin-bottom: 30px;
            &.select-friends {
                @include make-xs-column-offset(1);
                @include make-sm-column-offset(2);
                @include make-md-column-offset(3);
                @include make-lg-column-offset(3);
                .content {
                    text-align: right;
                }
            }
            &.select-kids {
                @include make-xs-column-offset(1);
                @include make-sm-column-offset(0);
                @include make-md-column-offset(0);
                @include make-lg-column-offset(0);
                .content {
                    text-align: left;
                }
            }
            .content {
                border: 1px solid #ffffff;
                background-color: rgba(2, 26, 44, 0.8);
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF021a2c, endColorstr=#FF021a2c);
                padding: 25px 20px;
                min-height: 205px;
                width: 100%;
                cursor: pointer;
                float: left;
                color: #ffffff;
                @include transition(all 0.2s ease-in-out);
                &:hover {
                    background-color: #ffffff;
                    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFffffff, endColorstr=#FFffffff);
                    color: $dark-text-color;
                }
                h3 {
                    padding: 0;
                    margin: 0 0 15px 0;
                    font-size: 24px;
                    font-weight: 900;
                }
                p {
                    font-size: 18px;
                    i {
                        margin-left: 5px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.form-group {
    position: relative;
    &.space {
        padding-bottom: 15px;
    }
}

.form-control {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
    font-size: 16px;
    height: auto;
    &:active,
    &:focus,
    &:hover {
        outline: none;
        box-shadow: none;
        border-color: #ffffff;
    }
    @include placeholder(#ffffff);
}

.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
    outline: none!important;
    box-shadow: none!important;
}

.checkbox {
    padding-left: 25px;
    label {
        padding: 0px!important;
        font-size: 16px!important;
        margin-top: -4px;
        display: inline;
        &:after {
            color: #ffffff;
            top: 2px;
            margin-left: -25px;
        }
        &:before {
            border-radius: 0;
            background-color: rgba(2, 26, 44, 0.8);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF021a2c, endColorstr=#FF021a2c);
            top: 2px;
            margin-left: -25px;
        }
        &.error {
            display: inline-block;
        }
    }
}

.show-more {
    padding: 0;
    display: inline;
    margin-left: -3px;
    top: 2px;
    position: relative;
    span {
        display: inline;
        &.show-legal {
            margin-right: 5px;
            cursor: pointer;
            display: inline;
            &.active {
                display: none;
            }
        }
        &.legal {
            display: none;
            margin-left: 2px;
            &.active {
                display: inline;
            }
        }
    }
}

.btn {
    padding: 15px 30px;
    height: auto;
    display: inline-block;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 20px;
    background-color: transparent;
    &:active,
    &:focus,
    &:hover {
        color: #ffffff;
        outline: none!important;
        box-shadow: none!important;
        border-color: #ffffff!important;
    }
    &.active {
        box-shadow: none!important;
    }
    &.show-more {
        color: #003f74;
        border-color: #003f74;
        padding: 10px 20px;
        margin: 15px 0;
        &:active,
        &:focus,
        &:hover {
            border-color: #003f74!important;
        }
    }
}

.form-friend {
    .icon01 {
        top: 80px!important;
        left: -2%!important;
    }
    .icon02 {
        display: none!important;
    }
    .icon03 {
        top: 200px !important;
    }
    .icon04 {
        display: none!important;
    }
    .icon05 {
        left: 96%!important;
    }
    .icon06 {
        top: 520px !important;
        left: 15% !important;
    }
    .icon07 {
        left: 16%!important;
    }
    .icon08 {
        top: 730px !important;
        left: 85% !important;
    }
    .icon09 {}
    .icon10 {}
    .icon11 {}
    .woman {
        bottom: 0;
    }
    .form-wrap {
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(8);
        @include make-lg-column(6);
        @include make-xs-column-offset(0);
        @include make-sm-column-offset(0);
        @include make-md-column-offset(4);
        @include make-lg-column-offset(3);
    }
}

.form-kid {
    .form-wrap {
        @include make-xs-column(12);
        @include make-sm-column(10);
        @include make-md-column(8);
        @include make-lg-column(6);
        @include make-xs-column-offset(0);
        @include make-sm-column-offset(1);
        @include make-md-column-offset(1);
        @include make-lg-column-offset(1);
    }
    .icon01 {
        top: 80px!important;
    }
    .icon02 {
        display: none!important;
    }
    .icon03 {
        top: 250px!important;
    }
    .icon04 {
        display: none!important;
    }
    .icon05 {
        left: 96%!important;
    }
    .icon06 {
        top: 820px!important;
        left: 70%!important;
    }
    .icon07 {}
    .icon08 {
        top: 630px!important;
        left: 76%!important;
    }
    .icon09 {}
    .icon10 {}
    .icon11 {}
    .kid {
        bottom: 0;
    }
}

.form-kid,
.form-friend {
    text-align: left;
    .form-title {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 48px;
        margin-bottom: 20px;
    }
    .form-lead {
        font-size: 20px;
        line-height: 24px;
    }
    .form-competition {
        padding: 30px 0 60px 0;
        label {
            padding: 15px 0;
            font-size: 18px;
            font-weight: 300;
            &.error {
                padding: 5px 0;
                font-size: 16px;
                color: #FF1515;
                &:before,
                &:after {
                    content: '';
                    display: none;
                }
            }
        }
        .tab-nav {
            padding: 0px 0 40px 0;
            margin: 0;
            @include make-row(30px);
            li {
                list-style: none;
                display: inline-block;
                @include make-xs-column(6);
                @include make-sm-column(3);
                @include make-md-column(3);
                @include make-lg-column(3);
                text-align: left;
                &.active {
                    .btn {
                        background-color: #ffffff;
                        color: $dark-text-color;
                    }
                }
            }
        }
        .char-counter {
            color: #6b8aa3;
            text-align: right;
            font-size: 18px;
            padding: 0px 0 0 0;
            position: absolute;
            right: 0;
            top: 200px;
        }
        .small {
            @include make-xs-column(12);
            @include make-sm-column(8);
            @include make-md-column(8);
            @include make-lg-column(8);
            .form-control {
                background-color: #ffffff;
                color: $dark-text-color;
                padding: 10px 15px;
                @include placeholder($dark-text-color);
            }
        }
        .send {
            margin: auto;
            display: block;
        }
    }
}

.popover {
    max-width: none!important;
}

.awards {
    background-color: #ffffff;
    padding: 30px 30px 60px 30px;
    text-align: center;
    position: relative;
    z-index: 3;
    &.winners {
        .additional-award {
            @include make-xs-column(12);
            @include make-sm-column(12);
            @include make-md-column(12);
            @include make-lg-column(12);
            @include make-xs-column-offset(0);
            @include make-sm-column-offset(0);
            @include make-md-column-offset(0);
            @include make-lg-column-offset(0);
            .item {
                li {
                    @include make-xs-column(12);
                    @include make-sm-column(6);
                    @include make-md-column(4);
                    @include make-lg-column(4);
                }
                &.fix-col {
                    @include make-xs-column(12);
                    @include make-sm-column(6);
                    @include make-md-column(4);
                    @include make-lg-column(4);
                    @include make-xs-column-offset(0);
                    @include make-sm-column-offset(3);
                    @include make-md-column-offset(4);
                    @include make-lg-column-offset(4);
                }
            }
        }
        .item {
            img {
                margin-top: 20px!important;
            }
            p {
                padding-top: 50px!important;
            }
        }
        .winner {
            display: block;
            padding-left: 120px;
            width: 100%;

            h3 {
                font-weight: bold;
                font-size: 20px;
                margin: 0;
                padding: 0;
            }
            .show-answer {
                padding: 0;
                margin: 0;
                border: none;
                background-color: transparent;
                box-shadow: none;
                font-size: 20px;
                &:active,
                &:focus,
                &:hover {
                    outline: none!important;
                    box-shadow: none!important;
                }
            }
            .answer {
                display: none;
            }
        }

    }
    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 32px;
        color: $dark-text-color;
        margin: 15px 0 60px 0;
    }
    .additional-award {
        .winner {
            padding-left: 0;
            margin-bottom: 20px;
        }
    }
    .kids-award,
    .friends-award,
    .additional-award {
        .item {
            &.title {
                text-align: center;
                margin-bottom: 30px;
                h3 {
                    font-size: 20px;
                    font-weight: 300;
                }
            }
            width: 100%;
            float: left;
            display: block;
            clear: both;
            position: relative;
            margin-bottom: 80px;
            .tooltip-thumb {
                display: block;
                margin: 10px;
                float: left;
                height: 300px;
                img {
                    float: left;
                    display: block;
                    width: auto;
                    height: 300px;
                    margin-top: 0;
                    margin-right: 0;
                    position: relative;
                }
            }
            .place {
                font-family: 'Playfair Display', serif;
                font-weight: 900;
                font-size: 18px;
                text-transform: uppercase;
                padding-left: 120px;
                margin-bottom: 40px;
                @include breakpoint(xs) {
                    text-align: center;
                    padding-left: 0;
                }
            }
            img {
                margin-top: 50px;
                width: 100px;
                height: auto;
                position: absolute;
                left: 0;
                @include breakpoint(xs) {
                    padding: 0 10px;
                    display: block;
                    margin:10px auto;
                    position: relative;
                }
            }
            p {
                display: block;
                width: 100%;
                padding-left: 120px;
                @include breakpoint(xs) {
                    padding: 0 10px;
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    .additional-award {
        .item {
            p {
                padding-top: 10px;
            }
        }
    }
    .award {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(6);
        text-align: left;
        min-height: 200px;
        p {
            font-size: 20px;
            line-height: 1.2;
            padding-top: 70px;
            float: left;
            display: block;
            width: 100%;
            padding-left: 190px;
            @include breakpoint(xs) {
                padding: 0 10px;
                width: 100%;
                display: block;
            }
        }
        img {
            float: left;
            margin-right: 30px;
            width: 170px;
            height: auto;
            position: absolute;
            left: 0;
            @include breakpoint(xs) {
                padding: 0 10px;
                display: block;
                margin:10px auto;
                position: relative;
            }
        }
    }
    .additional-award {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(4);
        @include make-xs-column-offset(0);
        @include make-sm-column-offset(3);
        @include make-md-column-offset(3);
        @include make-lg-column-offset(4);
        .item {
            img {
                margin-top: 0;
            }
        }
    }
}

footer {
    background-color: $dark-text-color;
    color: #ffffff;
    padding: 15px 15px;
    text-align: center;
    position: relative;
    z-index: 99;
    @include breakpoint(md) {
        text-align: right;
    }
    .footer-logo {
        @include make-xs-column(12);
        @include make-sm-column(2);
        @include make-md-column(2);
        @include make-lg-column(2);
        img {
            max-height: 100%;
            width: auto;
            margin-bottom: 15px;
        }
    }
    .footer-container {
        @include make-xs-column(12);
        @include make-sm-column(10);
        @include make-md-column(10);
        @include make-lg-column(10);
    }
    .footer-legal {
        font-size: 12px;
        text-align: left;
        margin-top: 5px;
    }
    a {
        color: #ffffff;
        font-size: 14px;
        text-decoration: underline;
        &:hover {
            color: #ffffff;
        }
    }
}

#cookies {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    padding: 1rem;
    background-color: $dark-text-color;
    z-index: 99999;
    color: #ffffff;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    #cookieAgree {
        border: 1px solid #ffffff;
        background-color: #ffffff;
        color: $dark-text-color;
        padding: 0.5rem;
    }
}

.modal.in .modal-dialog {
    z-index: 9999;
}

.modal-backdrop {
    background-color: rgba(2, 26, 44, 1.0);
    &.in {
        opacity: 0.9;
    }
}

.modal-content {
    border-radius: 0;
    border: 1px solid #ffffff;
    background-color: rgba(2, 26, 44, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF021a2c, endColorstr=#FF021a2c);
    color: #ffffff;
    box-shadow: none;
    overflow: hidden;
    position: relative;
    .modal-footer {
        border-top: 1px solid #ffffff;
        .item-data {
            display: inline-block;
            float: left;
            text-align: left;
            .name {
                position: absolute;
                bottom: 15px;
                font-size: 21px;
                // font-family: 'Playfair Display', serif;
            }
            .date {
                position: absolute;
                bottom: 40px;
                font-size: 18px;
                font-weight: 900;
            }
        }
        .btn {
            font-size: 16px;
            padding: 10px 20px;
            background-color: transparent;
            color: #ffffff;
            &:hover {
                background-color: transparent;
                color: #ffffff;
            }
        }
    }
    .modal-body {
        padding: 0;
        &.video-player {
            iframe {
            }
        }
        .modal-answer {
            p {
                padding: 30px;
            }
        }
    }
    .modal-header {
        border-bottom: none;
        padding: 0;
        min-height: 0;
        position: relative;
        z-index: 2;
        .close {
            background-color: #ffffff;
            color: rgba(2, 26, 44, 1.0);
            position: absolute;
            top: 0;
            right: 0;
            opacity: 1;
            padding: 5px;
            font-size: 18px;
        }
    }
}
