<div class="row">
    <div  class="col-xs-12">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab1"><i class="glyphicon glyphicon-list"></i> Wszystkie zgłoszenia</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab1" class="tab-pane active">
                    <div class="container">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <td>Użytkownik</td>
                                    <td>Data</td>
                                    <td>Kategoria</td>
                                    <td>E-mail</td>
                                    <td>Youtube Link</td>
                                    <td>Tekst</td>
                                    <td>Status</td>
                                    <td>Akcja</td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php if (count($this->paginator)): ?>
                                    <?php foreach ($this->paginator as $entity): ?>
                                        <tr id="sort_<?php echo $entity->getId(); ?>">
                                            <td><?php echo $entity->getUserName(); ?></td>
                                            <td><?php echo $entity->getCreatedAt()->format('Y-m-d H:i:s'); ?></td>
                                            <td><?php echo $this->translate('competition_type_'.$entity->getType()); ?></td>
                                            <td><?php echo $entity->getUserEmail(); ?></td>
                                            <td>
                                                <?php if($entity->getYoutubeLink() && ($entity->getSection() !="TEXT")): ?>
                                                <a target="_blank" href="<?php echo $entity->getYoutubeLink(); ?>">Youtube link</a>
                                                <?php endif; ?>
                                            </td>
                                            <td><?php echo $entity->getContent(); ?></td>
                                            <td>
                                                <span id="status_<?php echo $entity->getId(); ?>" class=""><?php echo $this->translate('status_'.$entity->getStatus()); ?></span>
                                            </td>
                                            <td>
                                                <?php if($entity->getStatus()=="TO_VERIFY"): ?>
                                                <a class="btn btn-success jChangeStatus" data-status="aktywne" data-target="status_<?php echo $entity->getId();?>" href="<?php echo $this->url($this->mainRouteName.'/confirm', array('id' => $entity->getId())); ?>">Potwierdź</a><br/>
                                                <?php endif; ?>
                                                <a class="btn btn-danger jChangeStatus" data-status="odrzucone" data-target="status_<?php echo $entity->getId();?>" href="<?php echo $this->url($this->mainRouteName.'/reject', array('id' => $entity->getId())); ?>">Odrzuć</a><br/>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                <?php else: ?>
                                    <tr>
                                        <td>Empty</td>
                                    </tr>
                                <?php endif; ?>
                            </tbody>

                        </table>
                        <?php
                        echo $this->paginationControl($this->paginator,
                            'Sliding', 'paginator-slide',
                            array('route' => $this->mainRouteName.'/page', 'params' => $this->params));
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
<script>
   $(document).one('pagechange',function() {
        $('.jChangeStatus').click(function(event) {
                event.preventDefault();
                var currentElement = $(this);
                var urlObject = $(this).attr('href');
                var changeToStatus =  $(this).attr('data-status');
                var targetElement =  $(this).attr('data-target');
                bootbox.confirm('<div class="alert alert-danger" style="margin: 0; margin-top:20px;">Czy na pewno chcesz zmienić status?</div>', function(result) {
                    //res = result;
                    if (result) {
                        $.ajax({
                            url: urlObject,
                        }).done(function(data) {
                            if (data == "OK") {
                                $('#'+targetElement).html(changeToStatus);
                                $('.btn-success.jChangeStatus[data-target="'+targetElement+'"]').remove();
                                Message.show("Status has been changed", 'alert-success');

                            } else {
                                Message.show("Status has not been changed", 'alert-danger');
                            }
                        });
                    }
                })
                return false;
            });
     });
</script>