<?php
$form = $this->forgotForm;
$form->prepare();
$form->setAttribute('action', $this->url('zfcuser/forgotpassword'));
$form->setAttribute('method', 'post');
$form->setAttribute('class', 'formRemindPassword form-quiz');
?>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title"><?php echo $this->translate('Przypomnij hasło'); ?></h1>
                <?php echo $this->formElementErrors($form->get('email')) ?>
            </div>
            <div class="col-xs-12">
                <?php echo $this->form()->openTag($form) ?>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control required email" placeholder="email">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-quiz">Przypomnij hasło</button>
                        </div>
                <?php echo $this->form()->closeTag() ?>
            </div>
            <div class="col-xs-12">
                <a href="<?php echo $this->url('zfcuser/login') ?>" class="fb-link">
                    Powrót
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).one('pagecontainerchange',function() {
        $(".formRemindPassword").validate({
            ignore: "",
            errorElement: "label",
        });
    });
</script>
