<?php
$form = $this->resetForm;
$form->prepare();
$form->setAttribute('action', $this->url('zfcuser/resetpassword', array('userId' => $this->userId, 'token' => $this->token)));
$form->setAttribute('method', 'post');
$form->setAttribute('class', 'formResetPassword form-quiz');
?>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title"><?php echo $this->translate('Zmiana hasła'); ?></h1>
            </div>
            <div class="col-xs-12">
                <?php echo $this->form()->openTag($form) ?>
                        <div class="form-group">
                            <input type="password" name="newCredential" class="form-control required" placeholder="nowe hasło">
                        </div>
                        <div class="form-group">
                            <input type="password" name="newCredentialVerify" class="form-control required" placeholder="powtórz hasło">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-quiz">Zmień hasło</button>
                        </div>
                <?php echo $this->form()->closeTag() ?>
            </div>
            <div class="col-xs-12">
                <a href="<?php echo $this->url('zfcuser/login') ?>" class="fb-link">
                    Powrót
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).one('pagecontainerchange',function() {
        $(".formResetPassword").validate({
            ignore: "",
            errorElement: "label",
            rules: {
                newCredentialVerify: {equalTo: "form.formResetPassword input[name=newCredential]"},
            }
        });
    });
</script>