<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title"><?php echo $this->translate('Przypomnij hasło'); ?></h1>
            </div>
            <div class="col-xs-12">
                <p>
                Na podany adres e-mail została wysłana wiadomość z linkiem, kierującym do strony z możliwością ustawienia nowego hasła.
                </p>
                <br/>
            </div>
            <div class="col-xs-12">
                <a href="<?php echo $this->url('zfcuser/login') ?>" class="fb-link">
                    Powrót
                </a>
            </div>
        </div>
    </div>
</div>
