uprawnienia
<ul>
<?php foreach($this->permissions as $permission): ?>
    <li><?php echo $permission->getName(); ?></li>
<?php endforeach; ?>
</ul>

<?php  echo $this->navigation()->menu()->setPartial(array('navigation/permissionsTree','Admin')); ?>