
<?php 
$p = $this->pages;
$i=1;
$counter = count($this->pages);?>

<?php if($counter>0):?>
<ol class="breadcrumb">
<?php 
foreach($this->pages as $page){
    
    echo '<li>';
    if($counter==$i){
        echo ' <span class="selected"> '.$page->getLabel().'</span>';
      }else{
          if($page->get('empty')==1){
              echo ' <span class="selected"> '.$page->getLabel().'</span>';
          }else{
            echo '<a href="'.$page->getHref().'"> '.$page->getLabel().'</a>';
          }
      } 
    $i++;
    echo "</li>";
}
?>
</ol>
<?php endif; ?>