<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <?php echo $this->headTitle('Union Investment')->setSeparator(' - '); ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no') ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))->prependStylesheet($this->basePath() . '/assets/css/compress.css'); ?>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <!-- Scripts -->
        <?php echo $this->headScript()->prependFile($this->basePath() . '/assets/js/compress.js'); ?>
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>


    <body <?php echo ($this->homepage) ? 'class="homepage"' : ''; ?>>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69025247-1', 'auto');
        ga('send', 'pageview');

      </script>
        <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <a href="/" class="site-name"><img src="/img/logo-masz-pojecie.png"></a>
                <button class="btn mobile-menu"><i class="fa fa-bars"></i></button>
                <?php echo $this->navigation('Navigation')->menu()->setPartial(array('layout/menu.phtml', 'default')); ?>
            </div>
        </nav>
        
        <?php
        $successMessages = array_merge($this->flashMessenger()->getSuccessMessages(), $this->flashMessenger()->getCurrentSuccessMessages());
        if (!empty($successMessages)):
            ?>
            <div class="alert-wrapper">
                <div class="alert alert-success fade in">
                    <button class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <?php foreach ($successMessages as $successMessage): ?>
                        <?php echo $this->translate($successMessage); ?>
                    <?php endforeach; ?>
                </div>
            </div>
        <?php endif; ?>
        <?php
        $errorMessages = array_merge($this->flashMessenger()->getErrorMessages(), $this->flashMessenger()->getCurrentErrorMessages());
        if (!empty($errorMessages)):
            ?>
            <div class="alert-wrapper">
                <div class="alert alert-danger fade in">
                    <button class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Zamknij</span>
                    </button>
                    <?php foreach ($errorMessages as $errorMessage): ?>
                        <?php echo $this->translate($errorMessage); ?>
                    <?php endforeach; ?>
                </div>
            </div>
        <?php endif; ?>
        <?php if (!empty($errorMessages) || !empty($successMessages)): ?>
            <script>
                var msgTimeout = setTimeout(function () {
                    $('.alert-wrapper .alert button').click();
                }, 5000);
                timeoutObjects.push(msgTimeout);
            </script>
        <?php endif; ?>


<?php echo $this->content; ?>
        <footer>
        <div class="row">
        <div class="footer-logo">
            <img src="/img/logo.png">
        </div>
            <div class="footer-container">
            <a href="/pdf/regulamin.pdf">Regulamin</a>
            <p class="footer-legal">
            Niniejszy materiał jest upowszechniany w celu reklamy lub promocji usług świadczonych przez Union Investment TFI S.A.
            Union Investment Towarzystwo Funduszy Inwestycyjnych S.A. działa na podstawie decyzji Komisji Papierów Wartościowych i Giełd (obecnie: Komisja Nadzoru Finansowego) z dnia 1 czerwca 1995 r., nr decyzji KPW-4073-1\ 95.
            </p>
            
            </div>
        </div>
        </footer>
        <div id="cookies">
            <div class="container">
                <p class="cookies-info">
                    Serwis używa plików cookies, dzięki którym serwis może działać lepiej. Podczas korzystania z serwisu pliki te są zapisywane w pamięci urządzenia. Zapisywanie plików cookies można zablokować, zmieniając ustawienia przeglądarki.
                    <a href="http://wszystkoociasteczkach.pl/" class="" target="_blank">Dowiedz się więcej.</a>
                </p>
                <button id="cookieAgree">Rozumiem.</button>
            </div>
        </div>
       <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','//connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1549461392007118');
        fbq('track', "PageView");</script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1549461392007118&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
        
        <?php echo $this->placeholder('footerScripts'); ?>    
    </body>
</html>
