<div class="container menuLeft">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> Menu</h3>
        </div>
        <div class="panel-body">
            <div class=" sidebar-nav">
                <ul class="nav nav-pills nav-stacked">
                    <?php foreach ($this->container as $page): 
                        $isLeftmenu = $page->get('leftmenu');
                        if($isLeftmenu):
                        ?>
                        <li class="<?php echo ($page->isActive(true)) ? "active" : ""; ?>"  >
                            <a href="<?php echo $page->getHref();?>">
                                <?php $spanclass = $page->get('spanclass'); ?>
                                <?php if($spanclass): ?>
                                <span class="<?php echo $spanclass; ?>"></span>
                                <?php endif;?>
                                
                                <?php echo $page->getLabel();?>
                            </a>
                        </li>
                    <?php endif; endforeach; ?>
                </ul>
            </div><!--/.well -->
        </div>
    </div>
</div>