<ul class="main-navigation" >
<?php foreach ($this->container as $page): ?>
    <?php if($page->isVisible() && $this->navigation()->accept($page)):?>
        <li class="<?php echo ($page->isActive(true)) ? "active" : ""; ?>"  >
            <a href="<?php echo $page->getHref() ?>" title="<?php echo $page->getLabel() ?>"><?php echo $page->getLabel() ?></a>
        </li>
    <?php endif; ?>
<?php endforeach; ?>
</ul>