<ul class="nav nav-pills nav-justified nav-pills-haquiz">
    <?php foreach ($this->container as $page): ?>
        <?php if ($page->isVisible()): ?>
            <li role="presentation" class="<?php echo ($page->isActive(true)) ? "active" : ""; ?>"  ><?php echo $this->navigation()->menu()->htmlify($page) ?></li>
        <?php endif; ?>
    <?php endforeach; ?> 
</ul>