<div class="row">
    <div class="col-md-12 col-sm-12"><h1><?php echo 'Permission denied.' ?></h1></div>
    <div class="col-md-12 col-sm-12"><a href="/" class="btn btn-lg btn-primary">Return to the main page</a></div>
</div>

