<section class="msg">
    <div class="home-icon icon01"></div>
    <div class="home-icon icon02"></div>
    <div class="home-icon icon03"></div>
    <div class="home-icon icon04"></div>
    <div class="home-icon icon05"></div>
    <div class="home-icon icon06"></div>
    <div class="home-icon icon07"></div>
    <div class="home-icon icon08"></div>
    <div class="home-icon icon09"></div>
    <div class="home-icon icon10"></div>
    <div class="home-icon icon11"></div>
    <div class="container">
        <div class="row">
            <div class="msg-wrap">
                <h1 class="msg-title">500</h1>
                <p class="msg-lead">
                    Wystąpił błąd. Wróć do strony głównej <br> <br><a class="btn" href="/">Strona główna</a>
                </p>
            </div>
        </div>
    </div>
</section>