<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <a href="" class="site-name">masz pojęcie?</a>
            <button class="btn mobile-menu"><i class="fa fa-bars"></i></button>
            <ul class="main-navigation">
                <li><a href="/">Strona główna</a></li>
                <li><a href="/zasady">Zasady</a></li>
                <li><a href="/galeria-teksty">Galeria</a></li>
            </ul>
        </div>
    </nav>
    <section class="msg">
            <div class="home-icon icon01"></div>
            <div class="home-icon icon02"></div>
            <div class="home-icon icon03"></div>
            <div class="home-icon icon04"></div>
            <div class="home-icon icon05"></div>
            <div class="home-icon icon06"></div>
            <div class="home-icon icon07"></div>
            <div class="home-icon icon08"></div>
            <div class="home-icon icon09"></div>
            <div class="home-icon icon10"></div>
            <div class="home-icon icon11"></div>
        <div class="container">
            <div class="row">
                <div class="msg-wrap">
                    <h2 class="msg-title">Błąd strony</h2>
                    <p class="msg-lead">
                        wróć do strony głównej <br><br><a class="btn" href="/">Strona główna</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <footer>
        <img class="footer-logo" src="/img/logo.png">
        <div class="container">
            <a href="/pdf/regulamin.pdf">Regulamin</a>
        </div>
    </footer>
    <div id="cookies">
        <div class="container">
            <p class="cookies-info">
                Serwis używa plików cookies, dzięki którym serwis może działać lepiej. Podczas korzystania z serwisu pliki te są zapisywane w pamięci urządzenia. Zapisywanie plików cookies można zablokować, zmieniając ustawienia przeglądarki.
                <a href="http://wszystkoociasteczkach.pl/" class="" target="_blank">Dowiedz się więcej.</a>
            </p>
            <button id="cookieAgree">Rozumiem.</button>
        </div>
    </div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/placeholders.min.js"></script>
    <script src="/js/js.cookie.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>
