<?php $element = $this->element;
$class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
?>

<div class="form-group text-center">
    <button class="btn btn-control-money glyphicon glyphicon-minus jSubtractAmount" data-type="minus" type="button"></button>
    <input id="amountField" name="<?php echo $element->getName(); ?>" <?php echo ($element->hasAttribute('min')) ? 'min="'.$element->getAttribute('min').'"' : 'min="10"';?> <?php echo ($element->hasAttribute('max')) ? 'max="'.$element->getAttribute('max').'"' : "";?>  class="form-control form-money" type="text" value="0 PLN" placeholder="<?php echo $this->label; ?>" />
    <button class="btn btn-control-money glyphicon glyphicon-plus jAddAmount" data-type="plus" type="button"></button>
</div>

<script>
    
    $(document).ready(function(){
        var step=5;
        var flagFirstClick=true;
        $('.jAddAmount').click(function(){
            if(flagFirstClick){
                $('#amountField').val(0);
                flagFirstClick=false;
            }
            var tmpval = $('#amountField').val();
            tmpval = Number(tmpval)+step;
            $('#amountField').val(tmpval);
        });
        $('.jSubtractAmount').click(function(){
            if(flagFirstClick){
                $('#amountField').val(0);
                flagFirstClick=false;
            }
            var tmpval = $('#amountField').val();
            tmpval = Number(tmpval)-step;
            if(tmpval<10){
                tmpval=10;
            }
            $('#amountField').val(tmpval);
        });
    });
    
</script>