<?php $element = $this->element; 
    $class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
    $idElement = md5($element->getName());
 ?>

<div class="checkbox">
    <input type="checkbox" name="<?php echo $element->getName(); ?>" id="<?php echo $idElement;?>" value="<?php echo $element->getCheckedValue();?>" class="<?php echo $class; ?>">
    <label for="<?php echo $idElement;?>">
        <?php echo $this->label; ?>
    </label>
    <div class="show-more"><span class="show-legal">... <strong>more</strong></span><span class="legal">a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.</span>
        <span class="invalid" id="invalid-<?php echo $idElement;?>"></span>
    </div>
</div>