<?php $element = $this->element;
$class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
?>
<div class="form-group">
    <input type="password" class="form-control <?php echo $class; ?>" name="<?php echo $element->getName(); ?>" value="<?php echo $element->getValue(); ?>"  placeholder="<?php echo $this->label; ?>">
</div>