<?php $element = $this->element; 
    $class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
    $idElement = md5($element->getName());
 ?>

<div class="checkbox">
    <input type="checkbox" name="<?php echo $element->getName(); ?>" id="<?php echo $idElement;?>" value="<?php echo $element->getCheckedValue();?>" class="<?php echo $class; ?>">
    <label for="<?php echo $idElement;?>">
        Wyrażam zgodę na przetwarzanie moich danych osobowych,
    </label>
    <div class="show-more"><span class="show-legal">... <strong>więcej</strong></span><span class="legal"> przekazanych w związku z udziałem w konkursie z Union Investment TFI S.A. (dalej „Konkurs”), przez Union Investment TFI S.A. z siedzibą w Warszawie przy ulicy Polnej 11 (wpisaną do Rejestru Przedsiębiorców KRS pod nr. 0000050329, NIP 527-10-24-937). Przetwarzanie ww. danych osobowych dokonywane będzie wyłącznie w celu realizacji Konkursu. Przetwarzanie danych osobowych przez Union Investment TFI S.A. z siedzibą w Warszawie nie będzie naruszać praw i wolności osób, których dane dotyczą, i będzie wykonywane zgodnie z przepisami Ustawy z dnia 29 sierpnia 1997 roku o ochronie danych osobowych (Dz. U. 2002, Nr 101, poz. 926 ze zm.). Dane osobowe podawane są dobrowolnie, a podający je ma prawo wglądu do nich i ich poprawiania. Union Investment TFI S.A. z siedzibą w Warszawie przy ulicy Polnej 11 uprawniona będzie do przekazania danych osobowych do przetwarzania w celu realizacji Konkursu na rzecz Organizatora Konkursu – Agencji Reklamowej S4 S.A. z siedzibą w Krakowie (ul. Rakowicka 18a, nr KRS 0000298194, NIP 676-21-79-319), na co wyrażam zgodę.</span>
        <span class="invalid" id="invalid-<?php echo $idElement;?>"></span>
    </div>
</div>