<?php $element = $this->element; 
    $class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
    $idElement = md5($element->getName());
 ?>

<div class="checkbox">
    <input type="checkbox" name="<?php echo $element->getName(); ?>" id="<?php echo $idElement;?>" value="<?php echo $element->getCheckedValue();?>" class="<?php echo $class; ?>">
    <label for="<?php echo $idElement;?>">
        Oświadczam, że przed przystąpieniem do udziału w Konkursie
    </label>
    <div class="show-more"><span class="show-legal">... <strong>więcej</strong></span><span class="legal"> zapoznałem/-am się z regulaminem Konkursu z Union Investment TFI S.A.</span>
        <span class="invalid" id="invalid-<?php echo $idElement;?>"></span>
    </div>
</div>