<?php $element = $this->element; 
    $class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
    $idElement = md5($element->getName());
 ?>

<div class="checkbox">
    <input type="checkbox" name="<?php echo $element->getName(); ?>" id="<?php echo $idElement;?>" value="<?php echo $element->getCheckedValue();?>" class="<?php echo $class; ?>">
    <label for="<?php echo $idElement;?>">
        Oświadczam, iż przysługują mi osobiste i majątkowe prawa autorskie
    </label>
    <div class="show-more"><span class="show-legal">... <strong>więcej</strong></span><span class="legal"> do utworu stworzonego w ramach wykonywania zadania konkursowego w Konkursie z Union Investment TFI S.A., zarówno do utworu jako całości, jak i do poszczególnych jego części, a publikacja tego utworu na stronie internetowej Konkursu nie będzie naruszać żadnych praw osób trzecich.</span>
        <span class="invalid" id="invalid-<?php echo $idElement;?>"></span>
    </div>
</div>