<?php $element = $this->element; 
    $class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
    $idElement = md5($element->getName());
 ?>

<div class="checkbox">
    <input type="checkbox" name="<?php echo $element->getName(); ?>" id="<?php echo $idElement;?>" value="<?php echo $element->getCheckedValue();?>" class="<?php echo $class; ?>">
    <label for="<?php echo $idElement;?>">
        W przypadku wygranej w Konkursie z Union Investment TFI S.A. wyrażam zgodę na opublikowanie informacji o zwycięstwie
    </label>
    <div class="show-more"><span class="show-legal">... <strong>więcej</strong></span><span class="legal"> w ww. Konkursie na stronie internetowej www.maszpojecie.com.pl i na fanpage’u Union Investment TFI S.A. prowadzonym w portalu społecznościowym Facebook (https://www.facebook.com/UnionInvestmentTFISA?fref=ts) wraz z podaniem mojego imienia i nazwiska. </span>
        <span class="invalid" id="invalid-<?php echo $idElement;?>"></span>
    </div>
</div>