<?php $element = $this->element; 
    $class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
    $idElement = md5($element->getName());
 ?>

<div class="checkbox">
    <input type="checkbox" name="<?php echo $element->getName(); ?>" id="<?php echo $idElement;?>" value="<?php echo $element->getCheckedValue();?>" class="<?php echo $class; ?>">
    <label for="<?php echo $idElement;?>">
        Udzielam zgody na rozpowszechnianie mojego wizerunku
    </label>
    <div class="show-more"><span class="show-legal">... <strong>więcej</strong></span><span class="legal"> utrwalonego w utworze stworzonym w ramach wykonywania zadania konkursowego w Konkursie z Union Investment TFI S.A. (dalej „Konkurs”) na rzecz Union Investment TFI S.A. z siedzibą w Warszawie przy ulicy Polnej 11 (wpisanej do Rejestru Przedsiębiorców KRS pod nr. 0000050329, NIP 527-10-24-937). W przypadku gdy w utworze stanowiącym realizację zadania konkursowego w Konkursie został utrwalony wizerunek także innych osób, oświadczam, iż osoby te również udzieliły zgody na rozpowszechnianie ich wizerunku na rzecz Union Investment TFI S.A. z siedzibą w Warszawie. W związku z powyższym publikacja tego utworu na stronie internetowej Konkursu nie będzie naruszać praw osób trzecich, w tym dóbr osobistych i prawa do ich wizerunku.</span>
        <span class="invalid" id="invalid-<?php echo $idElement;?>"></span>
    </div>
</div>