<?php $element = $this->element; 
    $class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
    $idElement = md5($element->getName());
 ?>

<div class="checkbox">
    <input type="checkbox" name="<?php echo $element->getName(); ?>" id="<?php echo $idElement;?>" value="<?php echo $element->getCheckedValue();?>" class="<?php echo $class; ?>">
    <label for="<?php echo $idElement;?>">
        Oświadczam, iż jestem osobą pełnoletnią
    </label>
    <div class="show-more">
        <span class="invalid" id="invalid-<?php echo $idElement;?>"></span>
    </div>
</div>