<?php $element = $this->element;
$class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
$idElement = md5($element->getName());
?>

 
<input type="text" class="form-control <?php echo $class; ?>" name="<?php echo $element->getName(); ?>" id="<?php echo $idElement; ?>" placeholder="<?php echo $this->label; ?>" value="<?php echo $element->getValue(); ?>">
<span class="invalid" id="invalid-<?php echo $idElement; ?>">
    <?php
    $messages = $element->getMessages();
    if(!empty($messages)): ?>
      <?php foreach($messages as $message): ?>
      <label class="error"><?php echo $this->translate($message); ?></label><br/>
      <?php endforeach;?>
    <?php endif; ?>
</span>
