<?php $element = $this->element;
$class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
$idElement = md5($element->getName());
?>
<div class="form-group">
    <textarea class="form-control <?php echo $class; ?>" id="<?php echo $idElement; ?>" rows="8" onkeyup="countChar(this)" name="<?php echo $element->getName(); ?>" placeholder="<?php echo $this->label; ?>" ><?php echo $element->getValue(); ?></textarea>
    <div class="char-counter"><span id="charNum">0</span>/500 znaków</div>
    <span class="invalid" id="invalid-<?php echo $idElement; ?>">
        <?php
        $messages = $element->getMessages();
        if(!empty($messages)): ?>
          <?php foreach($messages as $message): ?>
          <label class="error"><?php echo $this->translate($message); ?></label><br/>
          <?php endforeach;?>
        <?php endif; ?>
    </span>
</div>