<?php $element = $this->element;
$class = $element->hasAttribute('class') ? $element->getAttribute('class') : '';
$idElement = md5($element->getName());
?>
<fieldset class="form-group full-width">
    <div class="file-upload btn">
        <span><i class="fa fa-cloud-upload"></i>upload cv</span>
        <input type="file" class="form-control-file <?php echo $class; ?>" name="<?php echo $element->getName(); ?>" id="cvfile" placeholder="<?php echo $this->label; ?>" value="<?php echo $element->getValue(); ?>">
        
    </div>
    <div class="file-upload-name"></div>
    <br>
    <span style="margin-top:10px" class="invalid" id="invalid-cvfile">
        <?php
        $messages = $element->getMessages();
        if(!empty($messages)): ?>
          <?php foreach($messages as $message): ?>
          <label class="error"><?php echo $this->translate($message); ?></label><br/>
          <?php endforeach;?>
        <?php endif; ?>
    </span>
</fieldset>
