<div class="row">
    <div  class="col-xs-12">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab1"><i class="glyphicon glyphicon-list"></i> Lista użytkowników</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab1" class="tab-pane active">
                    <div class="container">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <td>Id.</td>
                                    <td>E-mail</td>
                                    <td>Nick</td>
                                    <td>Status</td>
                                    <td>Akcja</td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php if (count($this->paginator)): ?>
                                    <?php
                                    foreach ($this->paginator as $user):?>
                                        <tr>
                                            <td><?php echo $user->getId(); ?></td>
                                            <td><?php echo $user->getEmail(); ?></td>
                                            <td><?php echo $user->getDisplayName(); ?></td>
                                            <td><?php echo $user->getState(); ?></td>
                                            <td>
                                                <a title="Zobacz" class="btn btn-default" href="<?php echo $this->url('users/show', array('userId' => $user->getId())); ?>"><i class="glyphicon glyphicon-edit"></i></a>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                <?php else: ?>
                                    <tr>
                                        <td>Brak danych</td>
                                    </tr>
                                <?php endif; ?>
                            </tbody>

                        </table>
                        <?php

                        $paramsPager = array('controller' => "index", "action" => "index");
                        $paramsPager = array_merge($paramsPager, $this->params);
                        echo $this->paginationControl($this->paginator, 'Sliding', 'paginator-slide', array('route' => 'users/page', 'params' => $paramsPager));
                        ?>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>