<div class="row">
    <div  class="col-xs-12">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab1"><i class="glyphicon glyphicon-list"></i> Użytkownik</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab1" class="tab-pane active">
                    <div class="container">

                        <div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-quiz table-statistic">
                                        <tr>
                                            <td>Adres e-mail:</td>
                                            <td><?php echo $this->user->getEmail(); ?></td>
                                        </tr>
                                        <tr>
                                            <td>Nazwa użytkownika:</td>
                                            <td><?php echo $this->user->getDisplayName(); ?></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <a href="<?php echo $this->url('users',array()); ?>" class="btn btn-primary">Powrót</a>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
