<?php
$baseUrl = $this->url("home",array(),array('force_canonical' => true));
$link = $this->url("confirm_application",array('token'=>$this->competitionApplication->getToken()),array('force_canonical' => true));
?>
<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Union Investment</title>
</head>

<body style="margin: 0; padding: 0; border: none;">
    Witaj,<br/>
    Potwierdź swój udział w konkursie "Masz pojęcie" klikając w załączony link:<br><br>
    <a href="<?php echo $link; ?>"><?php echo $link; ?></a>
</body>
</html>
