<ol class="breadcrumb"  style="margin-bottom:0 0 5px 0;">
<?php 
$p = $this->pages;
$i=1;
$counter = count($this->pages);
foreach($this->pages as $page){
    
    echo '<li>';
    if($counter==$i){
        echo ' <span class="selected label label-default"> '.$page->getLabel().'</span>';
      }else{
          if($page->get('empty')==1){
              echo ' <span class="selected"> '.$page->getLabel().'</span>';
          }else{
            echo '<a class="label label-primary" href="'.$page->getHref().'"> '.$page->getLabel().'</a>';
          }
      } 
    $i++;
    echo "</li>";
}
?>
</ol>