<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Union Investment')->setSeparator(' - '); ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/js//mobile/jquery.mobile.custom.structure.css')
                ->prependStylesheet($this->basePath() . '/css/bootstrap/bootstrap.min.css')
                ->prependStylesheet($this->basePath() . '/css/bootstrap/bootstrap-theme.min.css')
                //->prependStylesheet($this->basePath() . '/css/bootstrap/docs.css')
                ->prependStylesheet($this->basePath() . '/css/style.css')
                ->prependStylesheet($this->basePath() . '/css/ui/jquery-ui.css')
                ->appendStylesheet($this->basePath() . '/css/fancybox/jquery.fancybox.css')
                ->appendStylesheet($this->basePath() . '/css/jquery.tagsinput.css')
                ->appendStylesheet($this->basePath() . '/css/bootstrap/bootstrap-timepicker.min.css');
        //->appendStylesheet($this->basePath() . '/js//mobile/jquery.mobile.custom.structure.min.css');
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()->prependFile($this->basePath() . '/js/bootstrap/jquery.js')
                ->appendFile($this->basePath() . '/js/bootstrap/bootstrap.min.js')
                ->appendFile($this->basePath() . '/js/ui/jquery-ui.js')
                ->appendFile($this->basePath() . '/js/jquery.validate.min.js')
                ->appendFile($this->basePath() . '/js/localization/messages_pl.js')
                ->appendFile($this->basePath() . '/js/jquery.validate-add.js')
                ->appendFile($this->basePath() . '/js/ui/i18n/jquery.ui.datepicker-pl.js')
                ->appendFile($this->basePath() . '/js/tinymce/jquery.tinymce.min.js')
                ->appendFile($this->basePath() . '/js/tinymce/tinymce.min.js')
                ->appendFile($this->basePath() . '/js/fancybox/jquery.fancybox.pack.js')
                ->appendFile($this->basePath() . '/js/holder.js')
                ->appendFile($this->basePath() . '/js/photohelper.js')
                ->appendFile($this->basePath() . '/js/bootbox.min.js')
                ->appendFile($this->basePath() . '/js/message.js')
                ->appendFile($this->basePath() . '/js/jquery.tagsinput.js')
                ->appendFile($this->basePath() . '/js/mobile/jquery.mobile.custom.min.js')
                ->appendFile($this->basePath() . '/js/bootstrap-timepicker.min.js')
                ->appendFile($this->basePath() . '/js/mustache.js')
                ->appendFile($this->basePath() . '/js/plugins/template.js')
                ->appendFile($this->basePath() . '/js/plugins/questionsPlugin.js')
        ?>

    </head>

    <body  <?php
    if ($this->navigationSubmenu) {
        // echo 'style="padding-top: 185px;"';
    };
    ?>>

        <div data-role="page" id="page" data-url="<?php echo $this->url(null, array(), array(), true) ?>">
            <script>
                $(document).one("pagehide", function(event) {
                    $('.ui-page.ui-page-theme-a').not('.ui-page-active').remove();
                });
            </script>
            <?php echo $this->inlineScript() ?>
            <div class="messageAlert bb-alert alert" style="display: none;">
                <span></span>
            </div>
            <div class="navbar navbar-inverse" role="navigation" style="margin-bottom:0">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Union Investment</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <?php echo $this->navigation('Navigation')->menu()->setPartial(array('layout/menu.phtml', 'cms')); ?>
                        <?php if ($this->isSupportedMultiLang()): ?>
                            <ul>
                                <li style='float: right; padding-top: 6px;'><div class="btn-group">
                                        <?php
                                        $currentLang = $this->getCurrentLang();
                                        foreach ($this->getSupportedLanguages() as $language):
                                            ?>
                                            <a type="button" href="<?php echo $this->url('cms/default', array('controller' => 'content', 'action' => "changelanguage", 'lang' => $language)); ?>" class="btn <?php echo ($language == $currentLang) ? 'btn-primary' : 'btn-default'; ?> "><?php echo $language; ?></a>
                                        <?php endforeach; ?>

                                    </div>
                                </li>
                            </ul>
                        <?php endif; ?>

                    </div><!-- /.nav-collapse -->
                </div><!-- /.container -->
                <?php if ($this->navigationSubmenu): ?>
                    <?php echo $this->navigation($this->navigationSubmenu)->menu()->setPartial(array('layout/submenu.phtml', 'cms')); ?>
                <?php endif; ?>
            </div><!-- /.navbar -->

            <div id="content"  data-role="content" role="main">
                <?php echo $this->navigation('Navigation')->breadcrumbs()->setPartial(array('layout/breadcrumbs.phtml', 'cms')); ?>


                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div style='padding-left: 20px; padding-right: 20px;'>
                                <?php
                                $successMessages = array_merge($this->flashMessenger()->getSuccessMessages(), $this->flashMessenger()->getCurrentSuccessMessages());

                                if (!empty($successMessages)):
                                    ?>
                                    <div class="alert-wrapper">
                                        <div class="alert alert-success">
                                            <?php foreach ($successMessages as $successMessage): ?>
                                                <?php echo $this->translate($successMessage); ?>
                                            <?php endforeach; ?>
                                        </div>
                                    </div>
                                <?php endif; ?>
                                <?php
                                $errorMessages = array_merge($this->flashMessenger()->getErrorMessages(), $this->flashMessenger()->getCurrentErrorMessages());
                                if (!empty($errorMessages)):
                                    ?>
                                    <div class="alert-wrapper">
                                        <div class="alert alert-danger">
                                            <?php foreach ($errorMessages as $errorMessage): ?>
                                                <?php echo $this->translate($errorMessage); ?>
                                            <?php endforeach; ?>
                                        </div>
                                    </div>
                                <?php endif; ?>
                                <?php if ($this->leftMenu): ?>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-2" id="sidebar" role="navigation">
                                            <?php echo $this->navigation($this->leftMenu)->menu()->setPartial(array('layout/leftmenu.phtml', 'cms')); ?>
                                        </div>
                                        <div  class="col-xs-12 col-sm-10">
                                            <?php echo $this->content; ?>
                                        </div>
                                    </div>
                                <?php else: ?>                               
                                    <?php echo $this->content; ?>
                                <?php endif; ?>   

                            </div>   
                        </div>
                    </div>
                </div><!--/span-->
            </div><!--/row-->
            <hr>

            <footer>
                <p>&copy; Driim 2013</p>
            </footer>
            <script>
                $(document).ready(function() {
                    $.mobile.defaultPageTransition = 'none';
                });
                $(function() {
                    Message.init({
                        "selector": ".messageAlert"
                    });
                });

            </script>
            <!-- Bootstrap core JavaScript
        ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->


        </div><!--/.container-->



    </body>
</html>
