<ul class="nav navbar-nav">
<?php foreach ($this->container as $page): ?>
    <?php 
    //var_dump($this->navigation()->accept($page));
    if($page->isVisible() && $this->navigation()->accept($page)):?>
    <li class="<?php echo ($page->isActive(true)) ? "active" : ""; ?>"  >
        <a data-transition="none" <?php echo ($page->get('disable-ajax')) ? 'rel="external"' : "";?> href="<?php echo $page->getHref(); ?>"><?php echo $page->getLabel(); ?></a></li>
    <?php endif; ?>
<?php endforeach; ?>
</ul>
