<?php 
//var_dump($this->container);exit;
?>
<div class="container-fluid" style="background-color: #080808; padding: 4px;">
    <ul class="submenu nav nav-pills">
      <?php foreach ($this->container as $page): ?>
        <?php if($page->isVisible()):?>
        <li class="<?php echo ($page->isActive(true)) ? "active" : ""; ?>"  ><?php echo $this->navigation()->menu()->htmlify($page) ?></li>
        <?php endif; ?>
    <?php endforeach; ?>  
    </ul>
</div>