<?php
$container = $this->container;
$pages = $container->getPages();
$nrPages = count($pages);
?>
<ul class="nav navbar-nav">
    <?php
    $i = 1;
    foreach ($container as $page):
        ?>        
        <li class="<?php echo ($page->isActive(true)) ? "selected" : ""; ?>">
            <a href="<?php echo $page->getHref(); ?>" rel="external" class="button <?php echo $page->get('class'); ?>">
                <?php echo $page->getLabel(); ?>
            </a>
        </li>
        <?php
        $i++;
    endforeach;
    ?> 
</ul>

